@reference "../../../styles/index.css";

.small {
  @apply flex
    flex-row
    flex-wrap
    items-center
    gap-2;
}

.large {
  @apply grid
    w-full
    gap-6
    sm:grid-cols-[repeat(auto-fill,minmax(240px,1fr))]
    sm:gap-4
    lg:grid-cols-[repeat(auto-fit,minmax(240px,260px))]
    lg:justify-center
    lg:gap-6;
}
