@reference "../../styles/index.css";

.wrapper {
  @apply flex
    w-full
    flex-col
    gap-8
    border-r-0
    border-neutral-200
    bg-white
    px-4
    py-6
    sm:overflow-auto
    sm:border-r
    md:max-w-xs
    lg:px-6
    dark:border-neutral-900
    dark:bg-neutral-950;

  .navigation {
    @apply hidden
      sm:flex;
  }

  .mobileSelect {
    @apply flex
      w-full
      sm:hidden;
  }

  dl {
    @apply flex
      w-full
      flex-col
      [scrollbar-width:none]
      [&::-webkit-scrollbar]:hidden;
  }

  dt {
    @apply mb-2
      text-sm
      font-medium
      text-neutral-800
      dark:text-neutral-200;
  }

  dd {
    @apply mb-8
      flex
      items-center
      gap-2
      text-sm
      text-neutral-900
      dark:text-white;

    a {
      @apply max-xs:inline-block
        max-xs:py-1
        font-semibold
        text-neutral-900
        underline
        dark:text-white;

      &:hover {
        @apply text-neutral-700
          dark:text-neutral-500;
      }
    }

    ol {
      @apply flex
        w-full
        list-none
        flex-col
        gap-1.5
        p-0;
    }

    svg {
      @apply size-4
        text-neutral-600
        dark:text-neutral-400;
    }

    &:last-child {
      @apply mb-0;
    }
  }
}
