@reference "../../styles/index.css";

.wrapper {
  @apply flex
    w-full
    flex-col
    gap-8
    border-r-0
    border-neutral-200
    bg-white
    px-4
    py-6
    sm:overflow-auto
    sm:border-r
    md:max-w-xs
    lg:px-6
    dark:border-neutral-900
    dark:bg-neutral-950;

  .navigation {
    @apply hidden
      sm:flex;
  }

  .mobileSelect {
    @apply flex
      w-full
      sm:hidden;
  }
}
