@reference "../../styles/index.css";

.wrapper {
  @apply scrollbar-thin
    ml:max-w-xs
    ml:overflow-auto
    ml:border-r
    z-0
    flex
    w-full
    flex-col
    gap-8
    border-r-0
    border-neutral-200
    bg-white
    px-4
    py-6
    2xl:px-6
    dark:border-neutral-900
    dark:bg-neutral-950;

  .navigation {
    @apply ml:flex
      hidden;
  }

  .mobileSelect {
    @apply ml:hidden
      flex
      w-full;
  }
}
