.container {
  margin: 0 auto;
  max-width: $body-max-width;
  overflow: hidden;
  width: 100%;
}
.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}
