html[data-theme='dark'] {
  background-color: $dark-black;
  color: $white;

  .theme-switcher {
    img.light-image {
      display: none;
    }

    img.dark-image {
      display: block;
    }
  }

  .blogpost-meta {
    color: $white;
  }

  #main {
    p,
    h1,
    h2,
    h3 {
      color: $white;
    }

    a {
      color: $dark-green2;

      &:hover {
        color: $white;
      }

      &.active,
      &.active:hover {
        background-color: $active-green;
        color: $white;
      }
    }
  }

  header,
  .theme-switcher img,
  .lang-picker-toggler img {
    background-color: $dark-black2;
  }

  header {
    li {
      &::after {
        border-top-color: $dark-black2 !important;
      }
    }

    .lang-picker {
      background-color: $dark-black2;
    }
  }

  article {
    p {
      color: $light-gray3 !important;
    }

    a {
      color: $dark-green2;

      &:hover {
        background-color: $dark-green2;
        color: $white;
      }
    }

    li {
      color: $light-gray3;
    }

    table {
      background-color: $dark-black3;

      th {
        color: $white-alpha-b3;
      }

      td {
        color: $white;
      }

      tr:only-child,
      tr:nth-child(even) {
        background-color: $dark-black2 !important;
      }

      tr:nth-child(odd) {
        background-color: $black;
      }
    }

    .highlight-box {
      background-color: $dark-code-background;
      color: $light-gray3;
    }
  }

  footer {
    @media (max-width: 481px) {
      margin-top: 0 !important;
    }

    background-color: $dark-black2;

    .openjsfoundation-footer {
      background-color: $dark-black2;
    }
  }

  .home-version-banner {
    background-color: #1f2f2b;
  }

  .download-hero {
    a {
      background-color: $dark-green;
      color: #0aa007;

      &:hover {
        background-color: #438542;
      }
    }

    a.is-version * {
      color: $white;
    }
  }

  .download-matrix td {
    border-color: $light-gray;
  }

  .blog-index {
    .summary {
      color: $light-gray;
      font-size: 75%;
      margin-left: 1em;
    }
  }

  .header-background-fill {
    fill: $dark-black2;
  }
}
