#main {
  .container {
    display: block;
  }

  .has-side-nav.container {
    flex-direction: row;
    display: flex;
  }
}

@media screen and (max-width: 1002px) {
  #main {
    .container {
      margin: 1em 20px;
      width: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 480px) {
  #main {
    .container,
    .has-side-nav.container {
      display: block;
    }
  }
}
