#main {
  .container {
    margin: 0 auto;
    display: block;
  }

  .has-side-nav.container {
    display: grid;
    grid-template-columns: fit-content(300px) 1fr;
  }
}

@media screen and (max-width: 1002px) {
  #main {
    .container {
      margin: 1em 20px;
    }

    article {
      ul:not(.no-padding) {
        margin: 0 20px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #main {
    .container {
      display: block;
    }
  }
}
