@reference "../../../styles/index.css";

.group {
  @apply flex
    w-full
    flex-col
    gap-2;

  /* Default item list spacing for groups */
  .itemList {
    @apply flex
      flex-col
      gap-1;
  }

  .groupName {
    @apply px-2
      py-1
      text-xs
      font-semibold
      text-neutral-800
      dark:text-neutral-600;
  }
}
