.button {
  @apply relative
    inline-flex
    items-center
    gap-2
    px-4.5
    py-2.5
    text-center
    font-semibold;

  svg {
    @apply size-5;
  }

  &[aria-disabled='true'] {
    @apply cursor-not-allowed;
  }

  &.neutral {
    @apply rounded
      bg-neutral-900
      text-white
      dark:text-neutral-200;

    &:hover {
      @apply bg-neutral-800;
    }

    &[aria-disabled='true'] {
      @apply bg-neutral-900
        opacity-50;
    }

    &:focus {
      @apply bg-neutral-800;
    }
  }

  &.primary {
    @apply rounded
      border
      border-green-600
      bg-green-600
      text-white
      shadow-sm;

    &:hover {
      @apply border-green-700
        bg-green-700
        text-white;
    }

    &:focus {
      @apply border-green-700
        bg-green-700;
    }

    &[aria-disabled='true'] {
      @apply bg-green-600
        opacity-50;
    }
  }

  &.secondary {
    @apply rounded-lg
      text-neutral-800
      dark:text-neutral-200;

    &:hover {
      @apply bg-neutral-100
        text-neutral-800
        dark:bg-neutral-900
        dark:text-neutral-200;
    }

    &[aria-disabled='true'] {
      @apply bg-transparent
        opacity-50;
    }

    &:focus {
      @apply bg-neutral-100
        text-neutral-800
        dark:bg-neutral-900
        dark:text-neutral-200;
    }
  }

  &.special {
    @apply rounded-lg
      border
      border-green-600/30
      bg-green-600/10
      text-white
      shadow-sm;

    &::before {
      @apply absolute
        left-0
        right-0
        top-0
        -z-10
        mx-auto
        h-full
        w-full
        bg-gradient-glow-backdrop
        opacity-30
        content-[''];
    }

    &::after {
      @apply absolute
        -top-px
        left-0
        right-0
        mx-auto
        h-px
        w-2/5
        bg-gradient-to-r
        from-green-600/0
        via-green-600
        to-green-600/0
        content-[''];
    }

    &[aria-disabled='true'] {
      @apply opacity-50;
    }

    &:hover {
      @apply bg-green-600/20;
    }

    &:focus {
      @apply bg-green-600/20;
    }
  }
}
