@reference "../../styles/index.css";

.dataTag {
  @apply font-ibm-plex-mono
    flex
    items-center
    justify-center
    rounded-full
    font-semibold
    text-white;

  &[data-tooltip] {
    @apply relative
      cursor-help;
  }

  &[data-tooltip]::after {
    @apply pointer-events-none
      absolute
      top-full
      left-1/2
      z-10
      mt-2
      w-max
      -translate-x-1/2
      rounded-md
      bg-neutral-900
      px-2.5
      py-1.5
      text-xs
      font-medium
      text-white
      opacity-0
      transition-opacity
      dark:bg-neutral-100
      dark:text-neutral-900;

    content: attr(data-tooltip);
  }

  &[data-tooltip]::before {
    @apply pointer-events-none
      absolute
      top-full
      left-1/2
      z-10
      mt-1
      h-2
      w-2
      -translate-x-1/2
      rotate-45
      bg-neutral-900
      opacity-0
      transition-opacity
      dark:bg-neutral-100;

    content: '';
  }

  &[data-tooltip]:hover::after,
  &[data-tooltip]:hover::before,
  &[data-tooltip]:focus-visible::after,
  &[data-tooltip]:focus-visible::before {
    @apply opacity-100;
  }

  &.lg {
    @apply size-12
      text-2xl;
  }

  &.md {
    @apply size-10
      text-xl;
  }

  &.sm {
    @apply size-8;
  }

  &.event {
    @apply bg-accent1-600;
  }

  &.method {
    @apply bg-info-600;
  }

  &.property {
    @apply bg-green-600;
  }

  &.class {
    @apply bg-warning-600;
  }

  &.module {
    @apply bg-red-600;
  }

  &.classMethod {
    @apply bg-blue-600;
  }

  &.ctor {
    @apply bg-accent2-600;
  }

  &.global {
    @apply bg-amber-600;
  }
}
