@reference "../../../../styles/index.css";

.documentLink {
  @apply rounded-xl
    bg-neutral-100
    px-4
    py-2
    text-neutral-900
    duration-300
    hover:bg-neutral-200
    focus:bg-neutral-200
    motion-safe:transition-colors
    dark:bg-neutral-950
    dark:text-neutral-200
    hover:dark:bg-neutral-900
    focus:dark:bg-neutral-900;

  svg {
    @apply size-5;
  }
}

.documentTitle {
  @apply max-w-full
    truncate
    overflow-hidden
    text-sm
    font-semibold
    text-ellipsis
    whitespace-nowrap;
}
