.random-contributor {
  align-items: center;
  background-color: var(--color-fill-banner);
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  padding: var(--space-12);

  @media (max-width: 900px) {
    max-width: 80vw;
  }

  a {
    color: var(--color-text-secondary);
    text-decoration: none;
  }

  &__avatar {
    margin: 5px 10px 0 5px;

    img {
      border-radius: 5px;
      max-width: 40px;
    }
  }
}
