.avatar {
  @apply flex
    h-8
    w-8
    items-center
    justify-center
    rounded-full
    border-2
    border-white
    bg-neutral-100
    object-cover
    text-xs
    text-neutral-800
    dark:border-neutral-950
    dark:bg-neutral-900
    dark:text-neutral-300;
}

.avatarRoot {
  @apply -ml-2
    first:ml-0;
}
