.link {
  @apply max-w-fit
    truncate;

  &.active {
    @apply rounded
      bg-green-600
      px-2
      py-1
      font-semibold
      text-white
      motion-safe:transition-colors
      dark:text-white;

    &:hover {
      @apply bg-green-700
        text-white;
    }
  }
}
