@reference "../../../../styles/index.css";

.noResultsWrapper {
  @apply flex
    h-full
    items-center
    justify-center
    pt-10
    pb-31
    text-sm
    text-neutral-800
    dark:text-neutral-500;
}
