@reference "../../../../styles/index.css";

.slidingPanelCloseButton {
  @apply absolute
    right-6
    top-2
    z-20
    cursor-pointer
    rounded-full
    p-2
    text-neutral-700
    transition-colors
    duration-300
    hover:bg-white/20
    focus:outline-none
    dark:text-white;

  svg {
    @apply h-5
      w-5;
  }
}

.slidingPanelContentWrapper {
  @apply fixed
    bottom-0
    left-0
    box-border
    h-[95vh]
    w-full
    overflow-hidden
    rounded-lg
    border
    border-neutral-300
    bg-neutral-100
    p-0
    text-white
    duration-300
    ease-in-out
    dark:border-neutral-900
    dark:bg-neutral-950;
}

.slidingPanelInner {
  @apply mx-auto
    flex
    h-full
    max-w-4xl
    flex-col
    justify-between;
}
