.searchButton {
  @apply flex
    w-52
    gap-2
    rounded-md
    bg-neutral-200
    p-2
    text-sm
    text-neutral-800
    hover:bg-neutral-300
    hover:text-neutral-900
    dark:bg-neutral-900
    dark:text-neutral-600
    dark:hover:bg-neutral-800
    dark:hover:text-neutral-500;
}

.magnifyingGlassIcon {
  @apply size-5;
}

.shortcutIndicator {
  @apply font-ibm-plex-mono
    invisible
    flex
    flex-1
    items-center
    justify-end
    self-center
    px-1
    text-xs
    motion-safe:transition-opacity
    motion-safe:duration-100
    md:visible;
}
