@reference "../../../styles/index.css";

.searchWrapper {
  @apply relative
    flex
    w-full
    flex-shrink-0;
}

.searchButton {
  @apply flex
    grow
    cursor-pointer
    items-center
    justify-between
    gap-1
    rounded-xl
    border
    border-neutral-300
    bg-white
    p-2
    text-neutral-900
    transition-colors
    duration-300
    hover:bg-neutral-100
    dark:border-neutral-900
    dark:bg-neutral-950
    dark:text-neutral-200
    hover:dark:bg-neutral-900;
}

.searchButtonContent {
  @apply flex
    flex-nowrap
    items-center
    gap-1
    text-sm;
}

.searchButtonShortcut {
  @apply hidden
    rounded-md
    bg-neutral-300
    px-2
    py-1
    text-sm
    text-neutral-800
    sm:inline
    dark:bg-neutral-900
    dark:text-neutral-400;
}

.modalWrapper {
  @apply fixed
    left-0
    top-0
    z-50
    flex
    h-full
    w-full
    bg-white/70
    dark:bg-neutral-950/85;
}

.modalInner {
  @apply inset-0
    flex
    flex-col
    justify-between
    bg-neutral-100
    sm:bottom-auto
    sm:top-[5vh]
    sm:mx-auto
    sm:max-h-[70vh]
    sm:min-h-[200px]
    sm:w-[80%]
    sm:max-w-[720px]
    sm:rounded-xl
    sm:border
    sm:border-neutral-200
    sm:p-0
    dark:bg-neutral-950
    sm:dark:border-neutral-900;
}
