@reference "../../../styles/index.css";

.navItem {
  @apply inline-flex
    items-center
    gap-2
    rounded-sm
    px-3
    py-2;

  .label {
    @apply text-base
      font-medium
      lg:text-sm;
  }

  .icon {
    @apply size-3
      text-neutral-500
      dark:text-neutral-200;
  }

  &:hover {
    @apply bg-neutral-100
      dark:bg-neutral-900;
  }

  &.nav {
    .label {
      @apply text-neutral-900
        dark:text-white;
    }

    &.active {
      @apply bg-brand-600;

      .label {
        @apply text-white;
      }

      .icon {
        @apply text-white
          opacity-50;
      }
    }
  }

  &.accent {
    @apply bg-brand-100
      ring-brand-600/20
      dark:bg-brand-600/15
      dark:ring-brand-400/20
      ring-1
      ring-inset;

    .label {
      @apply text-brand-700
        dark:text-brand-400;
    }

    .icon {
      @apply text-brand-600
        dark:text-brand-400;
    }

    &:hover {
      @apply bg-brand-200
        dark:bg-brand-600/25;
    }
  }

  &.footer {
    .label {
      @apply text-neutral-800
        dark:text-white;
    }

    &:hover {
      @apply bg-neutral-100
        dark:bg-neutral-900;
    }
  }
}
