.downloadButton {
  @apply justify-center;

  &.primary {
    @apply inline-flex
      dark:hidden;
  }

  &.special {
    @apply hidden
      dark:inline-flex;
  }

  svg {
    @apply dark:opacity-50;
  }
}
