.link {
  &:hover img {
    transform: scale(1.1);
  }

  img {
    background-size: contain;
    border: 2px solid var(--brand-light);
    border-radius: 100%;
    display: block;
    height: 30px;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
    width: 30px;
  }
}
