build
.next
external
styles
node_modules
public/en/user-survey-report
public/static/documents
public/static/legacy

# Test files
tests
coverage

# MDX Plugin enforces Prettier formatting which should
# be done in the future as we don't want to update the Markdown file
# contents right now
pages/**/*.md

# Storybook
storybook-static
