node_modules

# Next.js & Vercel Directories
.next
.turbo
.swc
build

# We don't want to lint/prettify the Coverage Results
coverage
junit.xml

# We shouldn't lint statically generated Storybook files
storybook-static

# This file naturally might break conventional rules
global.d.ts
