node_modules

# Next.js & Vercel Directories
.next
.turbo
.swc
build

# Legacy Public Files
public/static/documents

# We don't want to lint/prettify the Coverage Results
coverage
junit.xml

# MDX Plugin enforces Prettier formatting which should
# be done in the future as we don't want to update the Markdown file
# contents right now
pages/**/*.md

# We shouldn't lint statically generated Storybook files
storybook-static

# This file naturally might break conventional rules
global.d.ts
