{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "complexity": [1, 8],
    "consistent-return": 0,
    "eol-last": 1,
    "key-spacing": 0,
    "max-depth": [1, 2],
    "max-nested-callbacks": [2, 3],
    "max-params": [1, 4],
    "new-cap": 0,
    "no-multi-spaces": 0,
    "no-shadow": 0,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "quotes": [1, "single"],
    "space-before-function-parentheses": [1, "always"]
  }
}
