# Commonly ignored Node.js files
node_modules/
npm-debug.log
.npm/

# OSX system files, the bane of our existence
.DS_Store
.AppleDouble
.LSOverride

# Next.js files
.next
build
public/sitemap.xml
public/en/feed/*.xml
pages/en/blog/year-[0-9][0-9][0-9][0-9].md

# ESLint Cache Files
.eslintjscache
.eslintmdcache

# Jest
coverage
.swc

# Storybook
storybook-static
