# Generated HTML and other static files
build/
# Commonly ignored Node.js files
node_modules/
npm-debug.log
.npm/

# OSX system files, the bane of our existence
.DS_Store
.AppleDouble
.LSOverride

# Netlify
.netlify

.cache/
