# See bug in peerdeps resolution: https://github.com/npm/cli/issues/2999
legacy-peer-deps = false
# TODO(@mcollina): Currently, the lockfile is needed to build, so we explicitly require it's use
package-lock = true
