# Commonly ignored Node.js files
node_modules

# npm Compatibility
# https://github.com/nodejs/nodejs.org/discussions/5334#discussioncomment-12827850
npm-debug.log
.npm
package-lock.json

# Next.js Build Output
.next
build

# Test Runner
junit.xml
lcov.info

# Storybook
storybook-static
build-storybook.log
.nyc_output

# Vercel Files
.vercel
.turbo
cache

# Cache Files
.eslintmdcache
.stylelintcache
.prettiercache

# TypeScript
tsconfig.tsbuildinfo

# Metadata Files
CODEOWNERS

# Public Folders
apps/site/public

# Prettier's Handlebar parser is limited and chokes on some syntax features
# https://github.com/prettier/prettier/issues/11834
scripts/release-post/template.hbs
