build
.next
external
styles
node_modules

# These should be fixed in the future as the
# tests and scripts will be updated in this PR
tests

# For now also ignoring blog posts from linting
pages/en/blog/**/*.md

# MDX Plugin enforces Prettier formatting which should
# be done in the future as we don't want to update the Markdown file
# contents right now
pages/**/*.md
