# Website Development
* @nodejs/nodejs-website

# Infrastructure
.github @nodejs/web-infra
.husky @nodejs/web-infra

# Framework
next.config.mjs @nodejs/web-infra
next.dynamic.mjs @nodejs/web-infra

# Node.js Release Blog Posts
/pages/en/blog/release @nodejs/releasers
/pages/en/blog/announcements @nodejs/releasers

# Package Ecosystem
package.json @nodejs/nodejs-website
turbo.json @nodejs/nodejs-website @nodejs/web-infra

# Web Infrastructure
crowdin.yml @nodejs/web-infra
redirects.json @nodejs/web-infra
site.json @nodejs/web-infra
