.tabsList {
  @apply mb-6
    mt-10
    flex
    gap-2
    border-b
    border-b-neutral-200
    font-open-sans
    dark:border-b-neutral-800
    xs:hidden;

  .tabsTrigger {
    @apply border-b-2
      border-b-transparent
      px-1
      pb-[11px]
      text-sm
      font-semibold
      text-neutral-800
      dark:text-neutral-200;

    &[data-state='active'] {
      @apply border-b-green-600
        text-green-600
        dark:border-b-green-400
        dark:text-green-400;
    }
  }
}

.tabsSelect > div {
  @apply my-6
    hidden
    w-full
    xs:flex;
}
