@reference "../../../../styles/index.css";

.chatSources {
  @apply mb-4
    flex
    flex-nowrap
    items-center
    gap-3
    overflow-x-scroll
    scroll-smooth
    [-ms-overflow-style:none]
    [scrollbar-width:none];

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.chatSource {
  @apply flex
    max-w-full
    items-center
    gap-2
    text-base;
}

.chatSourceLink {
  @apply w-3xs
    rounded-xl
    bg-neutral-100
    px-4
    py-2
    text-neutral-900
    duration-300
    hover:bg-neutral-200
    focus:bg-neutral-200
    focus:outline-none
    motion-safe:transition-colors
    dark:bg-neutral-950
    dark:text-neutral-200
    hover:dark:bg-neutral-900
    focus:dark:bg-neutral-900;
}

.chatSourceTitle {
  @apply max-w-full
    truncate
    overflow-hidden
    text-sm
    font-semibold
    text-ellipsis
    whitespace-nowrap;
}
