@reference "../../../styles/index.css";

.icon {
  @apply ml-1
    inline
    w-3
    fill-neutral-600
    dark:fill-white;
}

.button {
  @apply text-brand-600
    hover:text-brand-900
    dark:text-brand-400
    dark:hover:text-brand-200;
}
