.item {
  @apply flex
     max-w-fit
     items-center
     gap-5
     truncate
     text-sm
     font-medium;

  &:not(:last-child) {
    @apply shrink-0;
  }

  a {
    @apply shrink
      grow;
  }

  &,
  > a,
  > a:hover {
    @apply text-neutral-800
      motion-safe:transition-colors
      dark:text-neutral-200;
  }

  &.visuallyHidden {
    @apply hidden;
  }

  .separator {
    @apply size-4
      max-w-fit
      shrink-0
      grow
      text-neutral-600
      dark:text-neutral-400;
  }
}
