@reference "../../../styles/index.css";

.listItem,
.listItem:link,
.listItem:active {
  @apply flex
    size-10
    cursor-pointer
    items-center
    justify-center
    rounded-sm
    px-3
    py-2.5
    text-neutral-800
    aria-current:cursor-default
    aria-current:bg-green-600
    aria-current:text-white
    motion-safe:transition-colors
    dark:text-neutral-200;

  &:hover:not([aria-current='page']) {
    @apply bg-neutral-100
      text-neutral-800
      dark:bg-neutral-900
      dark:text-neutral-200;
  }
}
