.bg-white {
  background-color: $white !important;
}

.bg-node-gray {
  background-color: $node-gray !important;
}

.color-lightgray {
  color: $light-gray;

  a:hover & {
    color: $white;
  }
}

.table-no-border-no-padding {
  border-spacing: 0;

  td {
    padding: 0;
  }
}

.full-width {
  width: 100%;
}

.small {
  font-size: .625rem;
}

.no-padding {
  padding: 0;
}

// borrowed from Bootstrap
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: none;
}
