$body-max-width = 980px

$white = #fff

$node-green = #43853d
$bright-green = #028a00
$light-green = lighten($node-green, 90%)
$active-green = darken($bright-green, 20%)

$yellow = #f7da03

$blue = #3887be

$light-gray3 = #f0f0f0
$light-gray2 = #ccc
$light-gray = #999
$gray = #666
$node-gray = #333

$black = #000

padded-link($padding)
  padding-left $padding
  padding-right $padding
  margin-left $padding * -1
  margin-right $padding * -1
