$body-max-width = 980px

$white = #fff

$node-green = #80bd01
$light-green = #f1fbda
$hover-green = #d9ebb3

$hover-red = #CC2828

$node-gray = #333
$dark-gray = #666
$light-gray = #999
$gray1 = #ccc
$gray2 = #c0c0c0
$gray3 = #ddd
$gray4 = #eee
$gray5 = #f0f0f0

$black = #000
$black2 = #222
$black3 = #404042

padded-link($padding)
    padding-left $padding
    padding-right $padding
    margin-left $padding * -1
    margin-right $padding * -1
