$body-max-width = 980px

$white = #fff

$node-green = #80bd01
$light-green = #f1fbda
$hover-green = #d9ebb3

$hover-red = #CC2828

$light-gray3 = #f0f0f0
$light-gray2 = #ccc
$light-gray = #999
$gray = #666
$node-gray = #333

$black = #000

padded-link($padding)
    padding-left $padding
    padding-right $padding
    margin-left $padding * -1
    margin-right $padding * -1
