@import '_variables'

// Base styles
body
    box-sizing border-box
    font 400 20px/1.5 'Source Sans Pro', Open Sans, Roboto, 'San Francisco', Helvetica, Arial, sans-serif
    color $node-gray
    margin 0
    background-color $white

header,
#main,
footer
    display flex

h1,
h2,
h3,
h4,
h5
    font-weight 400

a,
a:link,
a:active
    color $node-green
    text-decoration none
    border-radius 2px

a:hover
    color $white
    background-color $node-green

a:hover
    code
        color $hover-red

a.imagelink:hover
    background-color transparent


strong,
b
    font-weight 600


p
    a
        padded-link(2px)


img
    display block
    max-width 100%


code
    background-color $light-gray3
    font-size 85%
    padding 0.2em

pre
    background-color $node-gray
    border-radius 3px
    padding 0.75em 1.2em
    font-size 0.8em
    white-space pre-wrap
    color $light-gray3

    code
        color $light-gray3
        background-color inherit

// Import specific page sections and layout parts
@import 'layout/_sticky-footer'
@import 'layout/_grid'
@import 'layout/_main'
@import 'layout/_lists'
@import 'page-modules/_linuxfoundation'
@import 'page-modules/_header'
@import 'page-modules/_footer'
@import 'page-modules/_home'
@import 'page-modules/_blog-index'
@import 'page-modules/_blog-post'
@import 'page-modules/_foundation-members'
@import 'page-modules/_in-the-news'
@import 'page-modules/_download'
@import 'page-modules/_interactiveBanner'
@import 'page-modules/_scrollToTop'
@import 'page-modules/_anchorLinks'

.intro
    margin-top 140px
    font-size 38px
    line-height 1.2

    h1
        font-size inherit
        margin-bottom 15px

        & + p
            margin-top 0

    span
        color $light-gray
        display block


.has-side-nav
    aside
        width 200px
        float left
        margin-top 1.5em

        ul
            list-style-type none
            margin 0
            padding 0

        li
            padding 0.1em 0.5em

        a
            display block
            padded-link(10px)

        .active
            > a,
            > a:hover
                color $node-gray
                background-color $hover-green

    article
        margin-left 220px

@media screen and (max-width: 480px)
    .has-side-nav
        aside
            width 100%
            float none
        article
            margin-left 0px

            pre
              overflow-x scroll

.full-width
    width 100%

.small
    font-size 10px

.color-lightgray
    color $light-gray

a:hover .color-lightgray
    color $white

.no-padding
    padding 0

.highlight-box
    background-color $light-gray3
    padding 5px 15px
    border-radius 2px
    margin-top 1em

    & *:first-child
        margin-top 0.5rem

.issue-link-container
    clear both
    overflow hidden


    .linuxfoundation-logo
        width 60%
        float left

    .issue-link
        width 40%
        float right
        text-align right
        margin-top 0.5rem

    @media screen and (max-width: 700px)
        .linuxfoundation-logo,
        .issue-link
            float none
            width: 100%
            text-align left
