@import '_variables'
@import '_base'
// Import specific page sections and layout parts
@import 'layout/_sticky-footer'
@import 'layout/_grid'
@import 'layout/_main'
@import 'layout/_lists'
@import 'page-modules/_linuxfoundation'
@import 'page-modules/_header'
@import 'page-modules/_footer'
@import 'page-modules/_home'
@import 'page-modules/_blog-index'
@import 'page-modules/_blog-post'
@import 'page-modules/_foundation-members'
@import 'page-modules/_in-the-news'
@import 'page-modules/_download'
@import 'page-modules/_scrollToTop'
@import 'page-modules/_anchorLinks'
@import 'page-modules/_prev-next-navigation'
@import 'page-modules/_release-schedule'

.intro
  margin-top 140px
  font-size 38px
  line-height 1.2

  h1
    font-size inherit
    margin-bottom 15px

    & + p
      margin-top 0

  span
    color $light-gray
    display block

.has-side-nav
  aside
    width 200px
    float left
    margin-top 1.5em

    ul
      list-style-type none
      margin 0
      padding 0

    li
      padding 0.1em 0.5em

    a
      display block
      padded-link(10px)
      padding-top 5px
      padding-bottom 5px
      line-height 1

    .active
      > a,
      > a:hover
        color $white
        background-color $active-green

  article
    margin-left 220px

.edit-link
  float right
  font-size 0.9em
  margin 0.5em 0

@media screen and (max-width: 480px)
  .has-side-nav
    aside
      width 100%
      float none
    article
      margin-left 0px

.full-width
  width 100%

.small
  font-size 10px

.color-lightgray
  color $light-gray

a:hover .color-lightgray
  color $white

.no-padding
  padding 0

.highlight-box
  background-color $light-gray3
  padding 5px 15px
  border-radius 2px
  margin-top 1em

  & *:first-child
    margin-top 0.5rem

html[dir="rtl"]
    .has-side-nav
      aside
        float right

      article
        margin-right 220px
        margin-left 0px

    @media screen and (max-width: 480px)
      .has-side-nav
        article
          margin-right 0px