@reference "../../../../styles/index.css";

.searchInputWrapper {
  @apply relative;

  svg {
    @apply absolute
      left-3
      top-1/2
      h-4
      w-4
      -translate-y-1/2
      text-neutral-500
      dark:text-neutral-600;
  }
}

.searchInput {
  @apply w-full
    border-0
    border-b
    border-neutral-200
    bg-transparent
    py-4
    pl-9
    pr-4
    text-sm
    text-neutral-900
    placeholder:text-neutral-500
    focus:outline-none
    dark:border-neutral-900
    dark:text-neutral-200
    dark:placeholder:text-neutral-600;
}

.chatButtonWrapper {
  @apply border-b
    border-neutral-200
    p-2
    dark:border-neutral-900;

  svg {
    @apply h-4
      w-4;
  }
}

.chatButton {
  @apply flex
    w-full
    cursor-pointer
    items-center
    gap-2
    rounded-lg
    border
    border-transparent
    bg-transparent
    p-3
    text-sm
    transition-colors
    duration-300
    hover:bg-neutral-300
    dark:hover:bg-neutral-900;
}

.chatButtonWithSearch {
  @apply bg-neutral-300
    dark:bg-neutral-900;
}

.suggestionsWrapper {
  @apply flex
    min-h-0
    flex-1
    flex-col
    overflow-y-auto
    text-neutral-900
    dark:text-neutral-200;
}

.suggestionsList {
  @apply mt-1
    space-y-1;
}

.suggestionsTitle {
  @apply mb-3
    mt-3
    text-xs
    font-semibold
    uppercase
    text-neutral-700
    dark:text-neutral-500;
}

.suggestionItem {
  @apply flex
    cursor-pointer
    items-center
    gap-2
    py-2
    text-sm
    text-green-600
    dark:text-green-400;

  svg {
    @apply h-5
      w-5;
  }
}

.searchResultsWrapper {
  @apply overflow-y-auto
    px-5
    pt-3
    text-neutral-900
    dark:text-neutral-200;

  flex: 0 1 auto;
  max-height: 40vh;
  min-height: 0;
  padding-bottom: 0;
}

.noResultsWrapper {
  @apply flex
    h-full
    items-center
    justify-center
    py-10
    text-sm
    text-neutral-700
    dark:text-neutral-500;
}

.facetTabItem {
  @apply flex
    cursor-pointer
    items-center
    gap-2
    rounded-3xl
    border
    border-neutral-200
    px-3
    py-1
    text-sm
    transition-colors
    duration-300
    dark:border-neutral-900;
}

.facetTabItemSelected {
  @apply border-green-600
    dark:border-green-400;
}

.facetTabsWrapper {
  @apply mb-4;
}

.facetTabsList {
  @apply flex
    items-center
    gap-2;
}

.facetTabItemCount {
  @apply text-neutral-700
    dark:text-neutral-700;
}

.searchResultsGroup {
  @apply mb-6;
}

.searchResultsGroupTitle {
  @apply my-2
    pl-2
    text-sm
    font-semibold
    text-neutral-600
    dark:text-neutral-400;
}

.searchResultsItem {
  > a {
    @apply flex
      items-center
      gap-4
      rounded-lg
      px-2
      py-4
      text-sm
      outline-none
      transition-colors
      duration-300
      hover:bg-neutral-300
      focus:bg-neutral-300
      dark:border-neutral-900
      dark:bg-neutral-950
      dark:hover:bg-neutral-900
      dark:focus:bg-neutral-900;
  }

  svg {
    @apply h-5
      w-5;
  }
}

.searchResultsItemDescription {
  @apply text-sm
    text-neutral-600
    dark:text-neutral-700;
}

.footer {
  @apply flex
    items-center
    justify-between
    rounded-b-xl
    border-t
    border-neutral-200
    bg-neutral-100
    p-4
    dark:border-neutral-900
    dark:bg-neutral-950;
}

.poweredByLink {
  @apply flex
    items-center
    gap-2
    text-sm
    text-neutral-700
    dark:text-neutral-400;
}

.shortcutWrapper {
  @apply flex
    items-center
    gap-2;
}

.shortcutItem {
  @apply flex
    items-center
    gap-2
    text-xs
    text-neutral-700
    dark:text-neutral-700;
}

.shortcutKey {
  @apply rounded-md
    bg-neutral-200
    p-1
    font-mono
    text-xs
    dark:bg-neutral-900;

  svg {
    @apply h-4
      w-4;
  }
}
