@reference "../../../../styles/index.css";

.searchContainer {
  @apply flex
    grow
    flex-col
    overflow-hidden;
}

.searchInputWrapper {
  @apply relative;

  svg {
    @apply absolute
      top-1/2
      left-3
      size-4
      -translate-y-1/2
      text-neutral-500
      dark:text-neutral-600;
  }
}

.searchInput {
  @apply w-full
    border-b
    border-neutral-200
    bg-transparent
    py-4
    pr-4
    pl-9
    text-sm
    text-neutral-900
    placeholder:text-neutral-500
    focus:outline-none
    dark:border-neutral-900
    dark:text-neutral-200
    dark:placeholder:text-neutral-600;
}

.chatButtonWrapper {
  @apply hidden
    border-b
    border-neutral-200
    p-2
    lg:block
    dark:border-neutral-900;

  svg {
    @apply size-4;
  }
}

.chatButton {
  @apply flex
    w-full
    cursor-pointer
    items-center
    gap-2
    rounded-lg
    border
    border-transparent
    bg-transparent
    p-3
    text-sm
    duration-300
    hover:bg-neutral-300
    focus-visible:border-green-600
    focus-visible:outline-none
    motion-safe:transition-colors
    dark:hover:bg-neutral-900
    dark:focus-visible:border-green-400;
}

.chatButtonWithSearch {
  @apply bg-neutral-300
    dark:bg-neutral-900;
}
