@reference "../../../../styles/index.css";

.searchResultsContainer {
  @apply flex
    grow
    flex-col
    overflow-y-auto;
}

.chatButtonWrapper {
  @apply hidden
    border-b
    border-neutral-200
    p-2
    lg:block
    dark:border-neutral-900;

  svg {
    @apply size-4;
  }
}

.chatButton {
  @apply flex
    w-full
    cursor-pointer
    items-center
    gap-2
    rounded-lg
    border
    border-transparent
    bg-transparent
    p-3
    text-sm
    duration-300
    hover:bg-neutral-300
    focus-visible:border-green-600
    focus-visible:outline-none
    motion-safe:transition-colors
    dark:hover:bg-neutral-900
    dark:focus-visible:border-green-400;
}

.chatButtonWithSearch {
  @apply bg-neutral-300
    dark:bg-neutral-900;
}

.searchResultsWrapper {
  @apply grow
    overflow-y-auto
    px-5
    pt-3
    text-neutral-900
    lg:grow-0
    dark:text-neutral-200;

  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-md
      bg-neutral-900;
  }
}

.facetTabsWrapper {
  @apply mb-2
    overflow-x-auto;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.facetTabItem {
  @apply flex
    cursor-pointer
    items-center
    gap-2
    rounded-3xl
    border
    border-neutral-200
    px-3
    py-1
    text-sm
    duration-300
    focus:outline-none
    focus-visible:bg-neutral-300
    motion-safe:transition-colors
    dark:border-neutral-900
    dark:focus-visible:bg-neutral-900;
}

.facetTabItemSelected {
  @apply border-2
    border-green-600
    dark:border-green-400;
}

.facetTabsList {
  @apply flex
    items-center
    gap-2
    overflow-x-auto;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.facetTabItemCount {
  @apply text-neutral-700;
}

.searchResultsGroupWrapper {
  @apply relative
    items-start
    overflow-y-auto;
}

.searchResultsGroup {
  @apply mb-3
    border-t
    border-neutral-200
    dark:border-neutral-900;
}

.searchResultsGroup:first-of-type {
  @apply border-0;
}

.searchResultsGroupTitle {
  @apply mt-4
    mb-3
    pl-2
    text-sm
    font-semibold
    text-neutral-600
    dark:text-neutral-600;
}

.skeletonWrapper {
  @apply flex
    flex-col
    gap-5
    py-6;
}

.skeletonItem {
  @apply flex
    items-center
    gap-4;
}

.skeletonAnim {
  @apply dark:animate-pulse-dark
    animate-pulse
    rounded-md;
}

.skeletonAvatar {
  @apply h-6
    w-5
    shrink-0;
}

.skeletonText {
  @apply flex
    flex-1
    flex-col
    gap-2;
}

.skeletonLineShort {
  @apply h-3
    w-1/3;
}

.skeletonLineLong {
  @apply h-3
    w-2/3;
}
