.item {
  @apply flex
    h-full
    max-h-10
    w-full
    max-w-10
    items-center
    justify-center
    rounded-full
    border-2
    border-white
    bg-neutral-100
    object-cover
    text-xs
    text-neutral-800
    dark:border-neutral-950
    dark:bg-neutral-900
    dark:text-neutral-300;
}

.avatar {
  @apply -ml-2
    size-8
    flex-shrink-0
    first:ml-0;

  &:hover {
    @apply z-10;
  }
}

.small {
  @apply size-8;
}

.medium {
  @apply size-10;
}
