.item {
  @apply xs:max-h-10
    xs:max-w-10
    flex
    h-full
    max-h-12
    w-full
    max-w-12
    items-center
    justify-center
    rounded-full
    border-2
    border-white
    bg-neutral-100
    object-cover
    text-xs
    text-neutral-800
    dark:border-neutral-950
    dark:bg-neutral-900
    dark:text-neutral-300;
}

.avatar {
  @apply size-8
    flex-shrink-0;

  .wrapper {
    @apply max-xs:block
      max-xs:py-0;
  }
}

.small {
  @apply xs:size-8
    xs:-ml-2
    ml-0.5
    size-10
    first:ml-0;
}

.medium {
  @apply -ml-2.5
    size-10
    first:ml-0;
}
