@reference "../../../../styles/index.css";

.textareaContainer {
  @apply px-4;
}

.textareaWrapper {
  @apply flex
    items-center
    rounded-2xl
    border
    border-neutral-300
    bg-neutral-100
    p-1
    pl-3
    dark:border-neutral-900
    dark:bg-neutral-950;
}

.textareaField {
  @apply flex-1
    border-0
    bg-transparent
    text-neutral-900
    focus:outline-none
    dark:text-neutral-200;
}

.textareaButton {
  @apply cursor-pointer
    rounded-xl
    bg-green-600
    p-3
    text-white
    transition-colors
    duration-300
    disabled:cursor-not-allowed
    disabled:bg-neutral-200/60
    disabled:text-neutral-800
    dark:bg-green-400
    dark:text-neutral-400
    disabled:dark:bg-neutral-900/60;

  svg {
    @apply h-4
      w-4;
  }
}

.textareaFooter {
  @apply pt-1
    text-center
    text-neutral-800
    dark:text-neutral-500;
}
