.chatUserPrompt {
  @apply block;
}

.chatLoader {
  @apply my-4;
}

.chatLoadingWrapper {
  @apply mx-8;
  @apply mb-6;
  @apply flex;
  @apply min-h-[60px];
  @apply items-center;
  @apply justify-center;
  @apply rounded-xl;
  @apply p-6;
  @apply bg-[#0d121c];
}

.typingIndicator {
  @apply flex;
  @apply gap-2;
}

.typingDot {
  @apply h-3;
  @apply w-3;
  @apply rounded-full;
  @apply bg-white;
  @apply opacity-80;

  animation: typing 1.4s infinite ease-in-out;
}

.typingDot:nth-child(1) {
  animation-delay: 0s;
}

.typingDot:nth-child(2) {
  animation-delay: 0.2s;
}

.typingDot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0%,
  60%,
  100% {
    opacity: 0.7;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.chatAssistantMessageMain {
  @apply mb-4,
    text-base,
    text-neutral-900,
    dark:text-neutral-200;
}

.chatAssistantMessageWrapper {
  @apply block;
}

.chatAssistantMessage {
  @apply my-4,
    mb-6,
    max-w-full,
    rounded-xl,
    px-6,
    py-4,
    text-base;

  background: transparent;
  border: none;

  @apply !text-white;

  margin: 0;
  padding: 0;
}

.chatAssistantMessage p {
  @apply font-sm-line-height,
    mb-3,
    text-white;
}

.chatAssistantMessage pre {
  @apply my-4,
    rounded-md,
    bg-black/20,
    p-4,
    text-xs,
    text-white;

  code {
    @apply rounded-lg,
      p-3,
      text-sm;
  }
}

.chatAssistantMessage code {
  @apply rounded,
    bg-black/30,
    p-1,
    text-white;
}

.chatAssistantMessage ul {
  @apply list-disc,
    pl-6;
}

.chatAssistantMessage ol {
  @apply list-decimal,
    pl-6;
}

.chatAssistantMessage li {
  @apply mb-1;
}

.chatAssistantMessage h1,
.chatAssistantMessage h2,
.chatAssistantMessage h3 {
  @apply mb-2,
    text-lg,
    font-bold;
}

.markdownPre {
  border-radius: 0.5rem !important;
  padding: 0.1875rem 0.3125rem !important;
}

:global(pre[class*='prism']) {
  border-radius: 0.5rem !important;
  padding: 0.1875rem 0.3125rem !important;
}

:global(.chatAssistantMessage pre) {
  border-radius: 0.5rem !important;
  padding: 0.1875rem 0.3125rem !important;
}

:global(pre[style*='background-color']) {
  border-radius: 0.5rem !important;
  padding: 0.1875rem 0.3125rem !important;
}
