.chatUserPrompt {
  @apply mb-4,
    text-base,
    text-neutral-900,
    dark:text-neutral-200;
}

.chatLoader {
  @apply my-4;
}

.chatAssistantMessageMain {
  @apply mb-4,
    text-base,
    text-neutral-900,
    dark:text-neutral-200;
}

.chatAssistantMessageWrapper {
  /* Styles applied via inline styles for specificity */
}

.chatAssistantMessage {
  @apply my-4,
    mb-6,
    max-w-full,
    rounded-xl,
    px-6,
    py-4,
    text-base;

  background: transparent;
  border: none;

  @apply !text-white;

  margin: 0;
  padding: 0;
}

.chatAssistantMessage p {
  @apply font-sm-line-height,
    mb-3,
    text-white;
}

.chatAssistantMessage pre {
  @apply my-4,
    rounded-md,
    bg-black/20,
    p-4,
    text-xs,
    text-white;

  code {
    @apply rounded-lg,
      p-3,
      text-sm;
  }
}

.chatAssistantMessage code {
  @apply rounded,
    bg-black/30,
    p-1,
    text-white;
}

.chatAssistantMessage ul {
  @apply list-disc,
    pl-6;
}

.chatAssistantMessage ol {
  @apply list-decimal,
    pl-6;
}

.chatAssistantMessage li {
  @apply mb-1;
}

.chatAssistantMessage h1,
.chatAssistantMessage h2,
.chatAssistantMessage h3 {
  @apply mb-2,
    text-lg,
    font-bold;
}
