// For smooth scroll behavior
html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

#scroll-to-top {
  animation: button-fade 0.5s 1s 1 forwards;
  background-color: $node-green;
  border: 1px solid $node-green;
  border-radius: 4px;
  bottom: 10%;
  color: $white;
  display: none;
  font-size: 1rem;
  margin-right: 15px;
  min-width: 20px;

  // Prevent button from flashing on page load
  opacity: 0;
  padding: 0 5px 1px;
  position: fixed;
  right: 0;
  text-align: center;

  span {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }

  @keyframes button-fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
