.anchor {
  background: none;
  color: $light-gray2;
  padding: 0 0.25em;
  float: right;

  &:link,
  &:active,
  &:hover {
    background: inherit;
    color: $light-gray2;
  }

  &:focus::before {
    content: '#';
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover > .anchor::before {
    content: '#';
  }
}
