.blog-index {
  list-style: none;
  padding: 0;

  time {
    color: $light-gray;
    margin-right: 1em;
  }

  .summary {
    font-size: 75%;
    margin-left: 1em;
  }
}

nav.pagination {
  a {
    @mixin padded-link 2px;
  }
}

@media screen and (max-width: 700px) {
  .blog-index,
  .dark .blog-index {
    .summary {
      margin-left: 0;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
