@utility special {
  &h1 {
    @apply bg-gradient-subtle-gray
    dark:bg-gradient-subtle-white
    bg-clip-text
    text-4xl
    leading-[3rem]
    -tracking-[0.045rem]
    [-webkit-text-fill-color:transparent]
    md:text-5xl
    md:leading-[4rem]
    md:-tracking-[0.06rem];
  }
}

@utility turtle {
  @apply animate-surf
    absolute
    z-10
    translate-x-0
    translate-y-0;

  & img {
    @apply h-auto
    w-24
    md:w-48;
  }

  &::after {
    @apply absolute
    top-[20%]
    -left-full
    -z-10
    block
    h-36
    w-36
    -rotate-90
    bg-[url('/static/images/smoke.gif')]
    opacity-[0.15]
    content-['']
    select-none
    md:top-1/2
    md:-left-1/2;
  }
}
