@reference "../../../styles/index.css";

.searchInputWrapper {
  @apply relative;

  svg {
    @apply absolute
      top-1/2
      left-3
      size-4
      -translate-y-1/2
      text-neutral-500
      dark:text-neutral-600;
  }
}

.searchInput {
  @apply w-full
    border-b
    border-neutral-200
    bg-transparent
    py-4
    pr-4
    pl-9
    text-sm
    text-neutral-900
    placeholder:text-neutral-500
    focus:outline-none
    dark:border-neutral-900
    dark:text-neutral-200
    dark:placeholder:text-neutral-600;
}
