@reference "../../../styles/index.css";

.root {
  @apply rounded
    border
    border-neutral-200
    p-4
    text-neutral-900
    dark:border-neutral-800
    dark:text-white;

  .container {
    @apply grid
      grid-cols-2
      gap-4
      lg:grid-cols-3;
  }

  .item {
    @apply flex
      items-center
      gap-2;

    h1 {
      @apply text-sm
        font-semibold;
    }

    h2 {
      @apply text-xs
        font-normal;
    }

    svg {
      @apply size-4;
    }
  }
}
