main {
  @apply flex
    w-full
    flex-col
    gap-6;

  hr {
    @apply w-full
      border-t
      border-t-neutral-200
      bg-white
      dark:border-t-neutral-900
      dark:bg-neutral-950;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5,
  h6 {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    @apply font-semibold
      text-neutral-900
      dark:text-white;
  }

  code {
    @apply rounded
      bg-neutral-100
      px-1
      font-ibm-plex-mono
      text-base
      font-semibold
      text-neutral-900
      dark:bg-neutral-900
      dark:text-white;
  }

  p {
    @apply text-neutral-900
      dark:text-white;
  }

  a {
    @apply text-green-600
      dark:text-green-400
      xs:underline;

    &:hover {
      @apply text-green-900
        dark:text-green-300;
    }

    &[role='button'] {
      @apply xs:no-underline;
    }

    &:has(code) {
      @apply xs:decoration-neutral-800
        dark:xs:decoration-neutral-200;
    }
  }

  ul {
    @apply list-disc
      pl-9
      pr-5
      leading-6
      text-neutral-900
      dark:text-white;

    li div:has(> pre) {
      @apply !my-1;
    }
  }

  ol {
    @apply list-decimal
      px-5
      leading-6
      text-neutral-900
      dark:text-white;

    li div:has(> pre) {
      @apply !my-1;
    }
  }

  table {
    @apply mb-1
      w-full
      border-separate
      border-spacing-0
      rounded
      border
      border-neutral-200
      text-left
      text-sm
      dark:border-neutral-800;

    th,
    td {
      @apply border
        border-r-0
        border-t-0
        border-neutral-200
        px-4
        py-2
        text-neutral-900
        dark:border-neutral-800
        dark:text-white
        xs:block
        xs:border-l-0;

      > a {
        @apply pr-2;
      }
    }

    th {
      @apply font-semibold;
    }

    tr:last-child td {
      @apply sm:border-b-0;

      &:last-child {
        @apply xs:border-b-0;
      }
    }

    td:first-child,
    th:first-child {
      @apply sm:border-l-0;
    }
  }
}
