.wrapper {
  @apply flex
    flex-col
    items-start
    gap-8
    overflow-auto
    border-r
    border-r-neutral-200
    bg-white
    px-4
    py-6
    md:max-w-xs
    lg:px-6
    xs:w-full
    xs:border-r-0
    dark:border-r-neutral-900
    dark:bg-neutral-950;

  > section {
    @apply flex
      xs:hidden;
  }

  > div {
    @apply hidden
      w-full
      xs:flex;
  }
}
