.shellBox {
  background-color: var(--black10);
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--mono);
  position: relative;

  code {
    color: var(--pink5);
    font-family: inherit;
    margin: 1em;
    overflow-x: hidden;

    &:hover {
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      height: 0.5em;
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      overflow: visible;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
    }

    > span.function {
      color: var(--warning5);
    }
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span,
    button {
      align-items: center;
      display: inherit;
      font-size: var(--font-size-code);
      height: 23px;
      justify-content: center;
      width: 86px;
    }

    span {
      background-color: var(--black3);
      border-radius: 0 0 0.3rem 0.3rem;
      color: var(--black9);
    }

    button {
      background-color: var(--brand);
      border-radius: 0 0.3rem 0.3rem 0.3rem;
      border-width: 0;
      cursor: pointer;
      i {
        padding: 0;
      }
    }
  }
}
