.root {
  @apply relative
    flex
    items-center
    bg-neutral-950
    bg-[url('/static/images/patterns/hexagon-grid.svg')]
    bg-contain
    bg-center
    after:absolute
    after:inset-0
    after:m-auto
    after:aspect-square
    after:w-1/3
    after:rounded-full
    after:bg-gradient-radial
    after:blur-3xl;

  &.announcement {
    @apply after:from-green-700;
  }

  &.release {
    @apply after:from-info-600;
  }

  &.vulnerability {
    @apply after:from-warning-600;
  }

  & > .container {
    @apply z-10
      mx-auto
      flex
      max-w-xl
      flex-col
      gap-12
      text-center
      text-3xl
      font-semibold
      text-white;

    & > .logo {
      @apply mx-auto;
    }
  }
}
