@reference "../../styles/index.css";

.root {
  @apply w-full
    max-w-full
    overflow-x-hidden
    rounded-sm
    border
    border-neutral-900
    bg-neutral-950;

  .content {
    @apply m-0
      min-w-0
      p-4;

    & > code {
      @apply font-ibm-plex-mono
        font-regular
        scrollbar-thin
        grid
        max-w-full
        [grid-template-columns:minmax(0,1fr)]
        overflow-x-auto
        bg-transparent
        p-0
        text-sm
        leading-snug
        text-neutral-400
        [counter-reset:line];

      & > [class='line'] {
        @apply relative
          min-w-0
          pl-8
          [overflow-wrap:break-word];

        &:not(:empty:last-child)::before {
          @apply inline-block
            content-[''];
        }

        &:not(:empty:last-child)::after {
          @apply font-ibm-plex-mono
            absolute
            top-0
            left-0
            mr-4
            w-4.5
            text-right
            text-neutral-600
            [content:counter(line)]
            [counter-increment:line];
        }
      }
    }
  }

  & > .footer {
    @apply flex
      items-center
      justify-between
      border-t
      border-t-neutral-900
      px-4
      py-3
      text-sm
      font-medium;

    & > .language {
      @apply text-neutral-400;
    }

    & > .action {
      @apply px-3
        py-1.5
        font-medium;
    }
  }
}
