.item {
  @apply relative
    list-none
    overflow-hidden
    p-0;

  a {
    @apply flex
      w-full
      items-center
      gap-1
      text-sm
      font-regular
      text-neutral-800
      hover:text-neutral-900
      dark:text-neutral-200
      dark:hover:text-white;
  }

  svg {
    @apply min-w-fit;
  }
}

.active {
  a {
    @apply text-neutral-900
      dark:text-white;
  }
}
