.wrapper {
  @apply flex
    w-full
    flex-col
    items-start
    gap-8
    overflow-y-auto
    border-neutral-200
    px-4
    py-6
    [overflow-wrap:anywhere]
    lg:px-6
    dark:border-neutral-900;

  dl {
    @apply w-full;
  }

  dt {
    @apply mb-2
      text-sm
      font-medium
      text-neutral-800
      dark:text-neutral-200;
  }

  dd {
    @apply mb-8
      flex
      items-center
      gap-2
      text-sm
      text-neutral-900
      dark:text-white;

    a {
      @apply max-xs:inline-block
        max-xs:py-1
        font-semibold
        text-neutral-900
        underline
        dark:text-white;

      &:hover {
        @apply text-neutral-800
          dark:text-neutral-200;
      }
    }

    ol {
      @apply flex
        list-none
        flex-col
        gap-1.5
        p-0;
    }

    svg {
      @apply size-4
        text-neutral-600
        dark:text-neutral-400;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  [data-on-dark] {
    @apply hidden
      dark:block;
  }

  [data-on-light] {
    @apply block
      dark:hidden;
  }
}
