.footer {
  @apply flex
    flex-col
    items-center
    border-t
    border-neutral-200
    bg-white
    
    dark:border-neutral-900
    dark:bg-neutral-950
    sm:gap-0
    sm:px-8
    sm:py-0
    md:flex-row
    md:justify-between
    md:gap-6
    md:py-5;

  .sectionPrimary {
    @apply flex
      flex-wrap
      content-start
      items-center
      justify-center
      self-stretch
      sm:gap-0
      md:gap-1;

    a {
      @apply whitespace-nowrap;
    }
  }

  .sectionSecondary {
    @apply flex
      flex-col
      items-center
      sm:gap-0
      md:flex-row
      md:gap-1;

    .social {
      @apply flex
        items-center
        sm:gap-0
        md:gap-1;
    }
  }
}
