.footer {
  @apply flex
    flex-col
    items-center
    gap-6
    border-t
    border-neutral-200
    px-8
    py-4
    dark:border-neutral-900
    md:flex-row
    md:justify-between
    md:py-5;

  .sectionPrimary {
    @apply flex
      flex-wrap
      content-start
      items-center
      justify-center
      gap-1
      self-stretch;

    a {
      @apply whitespace-nowrap;
    }
  }

  .sectionSecondary {
    @apply flex
      flex-col
      items-center
      gap-1
      md:flex-row;

    .social {
      @apply flex
        items-center
        gap-1;
    }
  }
}
