@reference "../../styles/index.css";

.badge {
  @apply rounded-full
    border
    text-center
    text-white;

  &.small {
    @apply px-1.5
      py-0.5
      text-xs;
  }

  &.medium {
    @apply px-2.5
      py-0.5
      text-base;
  }

  &.default {
    @apply border-green-200
      bg-green-600
      dark:border-green-800;
  }

  &.error {
    @apply border-danger-200
      bg-danger-600
      dark:border-danger-800;
  }

  &.warning {
    @apply border-warning-200
      bg-warning-600
      dark:border-warning-600;
  }
}
