.baseLayout {
  @apply grid
    h-screen
    w-screen
    grid-cols-[1fr]
    grid-rows-[auto_1fr_auto];
}

.articleLayout {
  @apply mx-auto
    grid
    w-full
    max-w-8xl
    grid-rows-[1fr]
    overflow-hidden
    grid-areas-[sidebar_main_metabar,sidebar_footer_metabar]
    sm:grid-cols-[theme(spacing.52)_1fr_theme(spacing.52)]
    xl:grid-cols-[theme(spacing.80)_1fr_theme(spacing.80)]
    xs:m-0
    xs:block
    xs:overflow-auto;

  > *:nth-child(1) {
    @apply grid-in-[sidebar];
  }

  > *:nth-child(2) {
    @apply flex
      w-full
      flex-col
      items-start
      gap-6
      self-stretch
      overflow-y-auto
      overflow-x-hidden
      bg-gradient-subtle
      p-12
      grid-in-[main]
      xl:px-18
      xs:bg-none
      xs:p-4
      dark:bg-gradient-subtle-dark
      xs:dark:bg-none;
  }

  > *:nth-child(3) {
    @apply grid-in-[metabar];
  }

  > *:nth-child(4) {
    @apply sticky
      bottom-0
      flex
      w-full
      flex-col
      items-center
      self-stretch
      border-t
      border-t-neutral-200
      bg-white
      py-4
      grid-in-[footer]
      dark:border-t-neutral-900
      dark:bg-neutral-950;
  }
}

.homeLayout {
  @apply mx-auto
    flex
    w-full
    flex-col
    items-center
    gap-8
    self-stretch
    px-4
    py-14
    md:w-auto
    md:flex-row
    md:gap-14
    md:px-14
    md:py-0
    lg:gap-28
    lg:px-28;

  .hexagonBackdrop {
    @apply absolute
      left-0
      -z-10
      h-full
      w-full
      bg-[url('/static/images/patterns/hexagon-grid.svg')]
      bg-center
      bg-no-repeat
      opacity-50
      md:opacity-100;

    &::after {
      @apply absolute
      inset-0
      m-auto
      aspect-square
      w-[300px]
      rounded-full
      bg-green-300
      blur-[120px]
      content-['']
      dark:bg-green-700;
    }
  }

  section {
    &:nth-of-type(1) {
      @apply flex
        max-w-md
        flex-[1_0_0]
        flex-col
        items-start
        gap-8;

      h1 {
        @apply bg-gradient-subtle-gray
          bg-clip-text
          text-4xl
          -tracking-[0.045rem]
          [-webkit-text-fill-color:transparent]
          md:text-5xl
          md:-tracking-[0.06rem]
          dark:bg-gradient-subtle-white;
      }

      p {
        @apply text-base
          text-neutral-900
          md:text-lg
          dark:text-white;
      }

      > div {
        &:nth-of-type(1) {
          @apply flex
            flex-col
            gap-4;
        }

        &:nth-of-type(2) {
          @apply flex
            w-full
            flex-col
            gap-2
            lg:flex-row;

          p a {
            @apply flex
              items-center
              justify-center
              gap-2
              rounded-lg
              px-4.5
              py-2.5
              text-base
              font-semibold
              leading-7
              text-neutral-800
              dark:text-neutral-200;

            &:hover {
              @apply bg-neutral-100
                text-neutral-800
                dark:bg-neutral-900
                dark:text-neutral-200;
            }
          }
        }
      }
    }

    &:nth-of-type(2) {
      @apply flex
        max-w-md
        flex-col
        content-center
        items-center
        gap-4
        md:max-w-2xl;

      p {
        @apply text-center
          text-sm
          text-neutral-800
          dark:text-neutral-200;
      }
    }
  }
}
