.baseLayout {
  @apply grid
    size-full
    grid-cols-[1fr]
    grid-rows-[auto_1fr_auto];
}

.articleLayout {
  @apply mx-auto
    grid
    w-full
    max-w-8xl
    grid-rows-[1fr]
    overflow-hidden
    grid-areas-[sidebar_main_metabar,sidebar_footer_metabar]
    sm:grid-cols-[theme(spacing.52)_1fr_theme(spacing.52)]
    xl:grid-cols-[theme(spacing.80)_1fr_theme(spacing.80)]
    xs:m-0
    xs:block
    xs:overflow-auto;

  > *:nth-child(1) {
    @apply grid-in-[sidebar];
  }

  > *:nth-child(2) {
    @apply overflow-y-auto
      overflow-x-hidden
      bg-gradient-subtle
      p-12
      grid-in-[main]
      xl:px-18
      xs:bg-none
      xs:p-4
      dark:bg-gradient-subtle-dark
      xs:dark:bg-none;
  }

  > *:nth-child(3) {
    @apply grid-in-[metabar];
  }

  > *:nth-child(4) {
    @apply sticky
      bottom-0
      flex
      w-full
      flex-col
      items-center
      self-stretch
      border-t
      border-t-neutral-200
      bg-white
      py-4
      grid-in-[footer]
      dark:border-t-neutral-900
      dark:bg-neutral-950;
  }
}

.homeLayout {
  @apply flex
    w-full
    items-center
    justify-center
    px-4
    py-14
    md:px-14
    lg:px-28;

  > div:nth-of-type(1) {
    @apply absolute
      left-0
      -z-10
      h-full
      w-full
      bg-[url('/static/images/patterns/hexagon-grid.svg')]
      bg-center
      bg-no-repeat
      opacity-50
      md:opacity-100;

    &::after {
      @apply absolute
      inset-0
      m-auto
      aspect-square
      w-[300px]
      rounded-full
      bg-green-300
      blur-[120px]
      content-['']
      dark:bg-green-700;
    }
  }

  main {
    @apply items-center
      justify-center
      gap-8
      md:flex-row
      md:gap-14
      lg:gap-28;

    section {
      &:nth-of-type(1) {
        @apply flex
        max-w-md
        flex-[1_0_0]
        flex-col
        gap-8;

        h1 {
          @apply bg-gradient-subtle-gray
            bg-clip-text
            text-4xl
            -tracking-[0.045rem]
            [-webkit-text-fill-color:transparent]
            md:text-5xl
            md:-tracking-[0.06rem]
            dark:bg-gradient-subtle-white;
        }

        p {
          @apply max-w-[400px]
            text-base
            md:text-lg;
        }

        > div {
          &:nth-of-type(1) {
            @apply flex
              flex-col
              gap-4;
          }

          &:nth-of-type(2) {
            @apply flex
              w-full
              flex-col
              gap-2
              xl:flex-row;
          }
        }
      }

      &:nth-of-type(2) {
        @apply flex
          max-w-md
          flex-col
          gap-4
          md:max-w-2xl;

        p {
          @apply text-center
            text-sm
            text-neutral-800
            dark:text-neutral-200;
        }
      }
    }
  }
}

.blogLayout {
  @apply flex
    w-full
    justify-center
    bg-gradient-subtle
    xs:bg-none
    dark:bg-gradient-subtle-dark
    xs:dark:bg-none;

  main {
    @apply max-w-8xl
      gap-4
      px-4
      py-14
      md:px-14
      lg:px-28;

    h4 {
      @apply font-medium
        text-neutral-800
        dark:text-white;
    }
  }
}

.contentLayout {
  @apply grid
    w-full
    max-w-8xl
    grid-rows-[1fr]
    sm:grid-cols-[1fr_theme(spacing.52)]
    xl:grid-cols-[1fr_theme(spacing.80)]
    xs:m-0
    xs:block;

  > *:nth-child(1) {
    @apply flex
      w-full
      justify-center
      bg-gradient-subtle
      px-4
      py-14
      md:px-14
      lg:px-28
      xs:bg-none
      xs:pb-4
      dark:bg-gradient-subtle-dark
      xs:dark:bg-none;

    main {
      @apply max-w-[660px]
        gap-4;
    }
  }
}

.postLayout {
  main {
    > section {
      @apply flex
        flex-row
        items-center
        gap-4;
    }

    > div:nth-of-type(1) {
      @apply mb-4
        mt-2
        h-auto
        min-h-96
        w-full
        rounded
        border
        border-neutral-900
        md:min-h-80
        xs:min-h-52;
    }
  }
}
