.baseLayout {
  @apply grid
    h-screen
    w-screen
    grid-cols-[1fr]
    grid-rows-[auto_1fr_auto];
}

.articleLayout {
  @apply mx-auto
    grid
    w-full
    max-w-8xl
    grid-rows-[1fr]
    overflow-hidden
    grid-areas-[sidebar_main_metabar,sidebar_footer_metabar]
    sm:grid-cols-[theme(spacing.52)_1fr_theme(spacing.52)]
    xl:grid-cols-[theme(spacing.80)_1fr_theme(spacing.80)]
    xs:m-0
    xs:block
    xs:overflow-auto;

  > *:nth-child(1) {
    @apply grid-in-[sidebar];
  }

  > *:nth-child(2) {
    @apply flex
      w-full
      flex-col
      items-start
      gap-6
      self-stretch
      overflow-y-auto
      overflow-x-hidden
      bg-gradient-subtle
      p-12
      grid-in-[main]
      dark:bg-gradient-subtle-dark
      xl:px-18
      xs:bg-none
      xs:p-4
      xs:dark:bg-none;
  }

  > *:nth-child(3) {
    @apply grid-in-[metabar];
  }

  > *:nth-child(4) {
    @apply sticky
      bottom-0
      flex
      w-full
      flex-col
      items-center
      self-stretch
      border-t
      border-t-neutral-200
      bg-white
      py-4
      grid-in-[footer]
      dark:border-t-neutral-900
      dark:bg-neutral-950;
  }
}
