@reference "../../styles/index.css";

.articleLayout {
  @apply mx-auto
    block
    w-full
    sm:grid
    sm:overflow-visible
    sm:[grid-template-areas:'sidebar_main''sidebar_footer']
    md:grid-cols-[--spacing(64)_1fr]
    lg:grid-cols-[--spacing(52)_1fr]
    xl:grid-cols-[--spacing(80)_1fr];

  > *:first-child {
    @apply [grid-area:sidebar]
      lg:sticky
      lg:top-0
      lg:h-screen
      lg:overflow-y-auto;
  }

  > div {
    @apply sm:bg-gradient-subtle
      sm:dark:bg-gradient-subtle-dark
      min-h-screen
      min-w-52
      p-4
      [grid-area:main]
      motion-safe:scroll-smooth
      sm:bg-fixed
      sm:p-12
      xl:px-20;
  }

  > *:nth-child(3) {
    @apply sticky
      bottom-0
      flex
      w-full
      flex-col
      items-center
      self-stretch
      border-t
      border-t-neutral-200
      bg-white
      py-4
      [grid-area:footer]
      dark:border-t-neutral-900
      dark:bg-neutral-950;
  }
}
