.iconWrapper {
  @apply h-[36px] 
	  w-[36px] 
	  rounded-md 
	  bg-neutral-100 
	  p-2 
	  text-neutral-700
	  dark:bg-neutral-900
	dark:text-neutral-300;
}

.dropDownContent {
  @apply w-[184px] 
	  rounded-[4px] border 
	  border-neutral-200 
	  py-[1px] 
	  shadow-lg 
	  dark:border-neutral-900;
}

.dropDownItem {
  @apply cursor-default 
		px-[10px]
		py-[6px] 
	  text-neutral-800 
	  outline-none 
	  data-[highlighted]:bg-green-600 
	  data-[highlighted]:text-white
	  dark:text-white;
}

.currentDropDown {
  @apply bg-green-600 text-white;
}
