@reference "../../../../styles/index.css";

.chatActionsContainer {
  @apply flex
    items-center
    justify-end;
}

.chatActionsList {
  @apply flex
    list-none
    items-center
    gap-2
    p-0;
}

.chatAction {
  @apply cursor-pointer
    rounded-full
    p-2
    text-neutral-800
    hover:bg-neutral-300
    focus:bg-neutral-300
    focus:outline-none
    motion-safe:transition-colors
    dark:text-neutral-400
    dark:hover:bg-neutral-900
    dark:focus:bg-neutral-900;

  svg {
    @apply size-4;
  }
}

.chatActionIconSelected {
  @apply text-green-600
    dark:text-green-400;
}

.chatActionDisaliked {
  @apply text-neutral-900
    dark:text-neutral-800;
}
