@use 'themes/light';
@use 'themes/dark';
@use 'styles/mixins/components';

.pre {
  border-radius: var(--border-radius-3);
  margin: 0.5em 0 var(--space-24) 0;
  overflow: hidden;
  position: relative;

  .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-05) var(--space-08);

    .langBox {
      border-radius: var(--border-radius-3);
      display: flex;
      flex-direction: row;
      height: 28px;
      overflow: hidden;

      .lang {
        border-width: 0;
        cursor: pointer;
        font-family: var(--sans);
        font-size: var(--font-size-body2);
        font-weight: var(--font-weight-semibold);
        padding: 0 var(--space-16);
        text-transform: uppercase;

        &.selected {
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }

  .copy {
    background-color: transparent;
    border-radius: var(--border-radius-3);
    border-width: 0;
    cursor: pointer;
    font-size: var(--font-size-code);
    height: 28px;
    padding: 0;
    width: 28px;

    svg {
      height: 18px;
      stroke-width: 2.1;
      vertical-align: middle;
      width: 18px;
    }
  }

  .content {
    @include components.code;
    display: block;
    padding: var(--space-12);
  }

  &.inlineCode {
    .header {
      display: none;
    }

    .copy {
      opacity: 0;
      position: absolute;
      right: var(--space-08);
      top: var(--space-08);
      transition: opacity cubic-bezier(0.4, 0, 0.4, 1) 0.3s;
    }

    &:hover .copy {
      opacity: 1;
    }
  }
}

[data-theme='light'] {
  .pre {
    @include light.theme;
  }

  .header {
    background-color: var(--black2);

    .langBox .lang {
      background-color: var(--black3);
    }
  }

  .copy,
  .header > .langBox .lang {
    color: var(--color-text-primary);

    &.selected,
    &:hover {
      background-color: var(--black4);
    }
  }

  .inlineCode .copy:hover {
    background-color: var(--black4);
  }
}

[data-theme='dark'] {
  .pre {
    @include dark.theme;
  }

  .header {
    background-color: var(--black10);

    .langBox .lang {
      background-color: var(--black8);
    }
  }

  .copy,
  .header > .langBox .lang {
    color: var(--black2);

    &.selected,
    &:hover {
      background-color: var(--black9);
    }
  }

  .inlineCode .copy:hover {
    background-color: var(--black10);
  }
}
