.container {
  @apply relative
    flex
    w-fit
    flex-col
    items-start
    rounded
    border
    border-neutral-200
    dark:border-neutral-900;
}

.container > div {
  @apply w-full;
}

.header {
  @apply flex
    items-baseline
    justify-between
    border-b
    border-b-neutral-200
    px-4
    pt-3
    dark:border-b-neutral-900;

  a {
    @apply p-0;
  }
}

.body {
  @apply flex
    items-start
    gap-4
    self-stretch
    p-4;
}

.footer {
  @apply flex
    items-center
    justify-between
    gap-4
    self-stretch
    border-t
    border-t-neutral-200
    px-4
    py-3
    dark:border-t-neutral-900;
}

.copyIcon {
  @apply h-4
    w-4;
}
