@reference "../../styles/index.css";

.tabsRoot {
  @apply grid
    max-w-full;

  .tabsList {
    @apply font-open-sans
      scrollbar-thin
      flex
      gap-2
      overflow-x-auto;

    .tabsTrigger {
      @apply border-b-2
        border-b-transparent
        px-1
        pb-[11px]
        text-sm
        font-semibold
        whitespace-nowrap
        text-neutral-800
        dark:text-neutral-200;

      .tabSecondaryLabel {
        @apply ml-1
          rounded
          border
          border-neutral-500
          px-1
          py-0.5
          text-xs
          text-neutral-500
          dark:border-neutral-800
          dark:text-neutral-800;
      }

      &[data-state='active'] {
        @apply border-b-green-600
          text-green-600
          dark:border-b-green-400
          dark:text-green-400;

        .tabSecondaryLabel {
          @apply border-green-800
            text-green-800
            dark:border-green-600
            dark:text-green-600;
        }
      }
    }

    .addons {
      @apply ml-auto
        border-b-2
        border-b-transparent
        px-1
        pb-[11px]
        text-sm
        font-semibold;
    }
  }
}
