%baseStyles {
  border-radius: 0.3rem;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  margin: 0.5em 0 var(--space-24) 0;
  overflow: auto;
  padding: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

.code {
  @extend %baseStyles;

  font-weight: var(--font-weight-light);
  padding: 0 6px;

  white-space: break-spaces;
}

[data-theme='light'] {
  .code {
    background-color: var(--black2);
    color: var(--black9);
  }

  a .code {
    background-color: transparent;
    color: var(--color-text-accent);
    padding: 0;
  }
}

[data-theme='dark'] {
  .code {
    background-color: var(--black9);
    color: var(--black2);
  }

  a .code {
    background-color: transparent;
    color: var(--color-text-accent);
    padding: 0;
  }
}
