.root > [role='tabpanel'] > :first-child {
  @apply rounded-t-none;
}

.header {
  @apply rounded-t
    border-x-[1px]
    border-t-[1px]
    border-neutral-900
    bg-neutral-950
    px-4
    pr-5
    pt-3;

  & [role='tab'] {
    @apply text-neutral-200;

    &[aria-selected='true'] {
      @apply border-b-green-400
        text-green-400;
    }
  }
}

.link {
  @apply flex
    items-center
    gap-2
    text-center
    text-neutral-200
    dark:text-neutral-200;

  & > .icon {
    @apply h-4
      w-4
      text-neutral-600
      dark:text-neutral-600;
  }

  &:is(:link, :visited) {
    @apply text-neutral-200
      dark:text-neutral-200;

    &:hover {
      @apply text-neutral-400
        dark:text-neutral-400;

      & > .icon {
        @apply text-neutral-700
          dark:text-neutral-700;
      }
    }
  }
}
