@charset "utf-8";

@import 'tailwindcss/utilities';

@import 'variables';
@import 'base';
@import 'utils';
@import 'layout/sticky-footer';
@import 'layout/grid';
@import 'layout/main';
@import 'layout/lists';
@import 'layout/dark-theme';
@import 'page-modules/jsfoundation';
@import 'page-modules/header';
@import 'page-modules/footer';
@import 'page-modules/home';
@import 'page-modules/blog-index';
@import 'page-modules/blog-post';
@import 'page-modules/download';
@import 'page-modules/scrollToTop';
@import 'page-modules/anchorLinks';
@import 'page-modules/prev-next-navigation';

article a {
  word-break: break-word;
}

.intro {
  font-size: 38px;
  line-height: 1.2;
  margin-top: 140px;

  h1 {
    font-size: inherit;
    margin-bottom: 15px;

    + p {
      margin-top: 0;
    }
  }

  span {
    color: $light-gray;
    display: block;
  }
}

#main {
  .has-side-nav {
    nav {
      margin-top: 1.5em;
      min-width: 200px;
      max-width: 250px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        padding: 0.1em 0.5em;
      }

      a {
        display: block;
        line-height: 1;
        margin-left: -10px;
        margin-right: -10px;
        padding: 5px 10px;

        &.active,
        &.active:hover {
          background-color: $active-green;
          color: $white;
        }
      }
    }

    article {
      margin: 0 20px;
      overflow: hidden;
      flex: 1 1;
    }
  }
}

.edit-link {
  float: right;
  font-size: 0.9em;
  margin: 0.5em 0;
}

.color-lightgray {
  color: $light-gray;
}

a:hover .color-lightgray {
  color: $white;
}

.no-padding {
  padding: 0;
}

.highlight-box {
  background-color: $light-gray3;
  border-radius: 2px;
  margin-top: 1em;
  padding: 5px 15px;

  *:first-child {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1002px) {
  #main {
    article {
      ul:not(.no-padding) {
        margin: 0 20px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #main {
    .has-side-nav {
      nav {
        max-width: 100%;
      }

      article {
        margin: 0;
        width: 100%;
      }
    }
  }
}
