$body-max-width: 980px;

$black: #000;
$white: #fff;
$white-alpha-b3: #ffffffb3;
$node-green: #43853d;
$light-green: #eaf5e9;
$active-green: #026e00;

$light-gray3: #f0f0f0;
$light-gray2: #ccc;
$light-gray: #999;
$gray: #666;
$node-gray: #333;
$home-secondary-links-color: #51744e;
$black-alpha-80: #00000080;
$black-alpha-12: #00000012;
$black-alpha-0f: #0000000f;

$dark-black: #090c15;
$dark-black2: #233056;
$dark-black3: #23305671;
$dark-gray: #242424;
$dark-green: #2c372a;
$dark-green2: #84ba64;
$dark-green3: #64de64;
$dark-code-background: #2c3437;

@define-mixin padded-link $padding {
  margin-left: calc($padding * -1);
  margin-right: calc($padding * -1);
  padding-left: $padding;
  padding-right: $padding;
}
