.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .colors {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        > div {
            display: flex;
            flex-direction: row;
            gap: 1rem
        }
    }
}