[data-theme="dark"] {
  .dark-theme-switcher {
    background-image: url("/static/images/light-mode.svg");
  }

  #main {
    background-color: $dark-gray;
    p,
    h1,
    h2,
    h3 {
      color: $white;
    }
  }

  article {
    p {
      color: $light-gray3 !important;
    }

    li {
      color: $light-gray3;
    }

    code {
      background-color: $node-gray;
      color: $light-gray2;
    }

    table {
      th {
        color: $white;
      }
      tr:nth-child(odd) {
        background-color: $node-gray !important;
        color: $light-gray3;
      }
    }

    .highlight-box {
      background-color: $node-gray;
    }
  }

  footer {
    margin-top: 0 !important;
  }

  .download-hero a {
    background-color: $dark-green;
    color: #0aa007;
  }

  .download-matrix td {
    border-color: $light-gray;
  }
}
