[data-theme="dark"] {
  .dark-theme-switcher {
    background-image: url("/static/images/light-mode.svg");
  }

  #main {
    background-color: $dark-black;
    p,
    h1,
    h2,
    h3 {
      color: $white;
    }

    a {
      color: $dark-green2;
      &:hover {
        color: $white;
      }
    }

    .active > a {
      background-color: $active-green;
      color: $white;
    }
  }

  header {
    background-color: $dark-black2;
    li {
      &::after {
        border-top-color: $dark-black2 !important;
      }
    }
    .lang-picker {
      background-color: $dark-black2;
    }
  }

  article {
    p {
      color: $light-gray3 !important;
    }

    a {
      color: $dark-green2;
      &:hover {
        color: $white;
        background-color: $dark-green2;
      }
    }

    li {
      color: $light-gray3;
    }

    code {
      background-color: $dark-code-background;
      color: $dark-green3;
    }

    pre,
    pre code {
      background-color: $dark-code-background;
    }

    table {
      background-color: $dark-black3;
      th {
        color: $white-alpha-b3;
      }
      td {
        color: $white;
      }
      tr:only-child,
      tr:nth-child(even) {
        background-color: $dark-black2 !important;
      }
    }

    .highlight-box {
      background-color: $dark-code-background;
    }
  }

  footer {
    margin-top: 0 !important;
    background-color: $dark-black2;
    .openjsfoundation-footer {
      background-color: $dark-black2;
    }
  }

  .home-version-banner {
    background-color: #1f2f2b;
  }

  .download-hero {
    a {
      background-color: $dark-green;
      color: #0aa007;
      &:hover {
        background-color: #438542;
      }
    }

    a.is-version * {
      color: $white;
    }
  }

  .download-matrix td {
    border-color: $light-gray;
  }

  .blog-index {
    .summary {
      margin-left: 1em;
      font-size: 75%;
      color: $light-gray;
    }
    code {
      background-color: $dark-code-background;
    }
  }
}
