.download-hero
    display table
    margin-bottom 1em

    ul
        text-align center
        margin 0 auto
        display table-row

        li
            width 33%
            display table-cell

            a
                display block
                width 100%
                padding-top 1em
                background $lightgreen

                img
                    display block
                    margin 0 auto

                small
                    font-size 10px
                    display block
                    color $lightgray
                    padding-bottom 1em

            a:hover, a:active
                background $darkgray
                color $node-green

.download-matrix
    th
        text-align left
        width 33%

    td
        border 1px solid #ccc

        a
            background none
            display block
            height 100%
            width 100%
            text-align center

        a:hover, a:active
            background $darkgray
            color $node-green

h5.table-header
    margin-bottom 5px

.table
    width 100%
    font-size small
    border 1px solid $border
    border-spacing 0
    
    td
        padding 5px

    > thead
        font-weight bold
        
    > tbody
        td
            border-top 1px solid $border
        
        tr:nth-child(odd)
            background-color $odd
        
        tr:nth-child(even)
            background-color $even

td.table-last
    text-align right
    
    > a
        padding 0 10px
    
@media (max-width: 768px)
    .table        
        > thead
            display none
        
        tr
            margin-bottom 0
            display block
        
        td
            display block
            text-align right
        
        td:last-child
            border-bottom 0
        
        td:before 
            content attr(data-label)
            float left 
            font-weight bold
            
    .table > tbody td
        border none

    td.table-last
        text-align center