.tabsList {
  @apply flex
    gap-2
    font-open-sans;

  .tabsTrigger {
    @apply border-b-2
      border-b-transparent
      px-1
      pb-[11px]
      text-sm
      font-semibold
      text-neutral-800
      dark:text-neutral-200;

    &[data-state='active'] {
      @apply border-b-green-600
        text-green-600
        dark:border-b-green-400
        dark:text-green-400;
    }
  }

  .addons {
    @apply ml-auto
      border-b-2
      border-b-transparent
      px-1
      pb-[11px]
      text-sm
      font-semibold;
  }
}
