// Anchor links to parts of the page
h1:hover > .anchor:before,
h2:hover > .anchor:before,
h3:hover > .anchor:before,
h4:hover > .anchor:before,
h5:hover > .anchor:before,
h6:hover > .anchor:before
    content '#'
