// Anchor links for page headings
.anchor {
  color: $light-gray2;
  background: none;
  padding: 0 .25em;

  &:link,
  &:active,
  &:hover {
    color: $light-gray2;
    background: inherit;
  }

  &:focus::before {
    content: "#";
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover > .anchor::before {
    content: "#";
  }
}
