ul.blog-list
    list-style-type none
    padding 0
    margin 0

.blog-list-item
    margin-bottom 10px
    font-size .9em
    
    > time
        font-size .8 em

.blog-title
    margin-bottom 5px

.blog-blurb
    font-size .8em
    max-height 300px
    overflow hidden
    
.blog-ellipses
    font-weight bold