.contributor-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
  width: 300px;
  padding: 1.5em 1em;
  margin: 1em auto;
  border: 1px solid $white;
  border-radius: 3px;

  > a {
    height: 40px;
    width: 40px;
    margin-right: 1em;
  }

  p {
    margin: 0;
  }

  img {
    max-width: none;
  }

  .spinner-border {
    margin: 5px;
  }
}

@media (max-width: 350px) {
  .contributor-card {
    width: auto;
  }
}
