h5.download-table-previous-releases-header
    margin-bottom 5px

.download-table
    width 100%
    font-size small
    border 1px solid #C0C0C0
    
    td
        padding 5px

    > thead
        font-weight bold
        
    > tbody
        td
            border-top 1px solid #C0C0C0
        
        tr:nth-child(odd)
            background-color #eee
        
        tr:nth-child(even)
            background-color #fff

td.download-table-last
    text-align right
    
    > a
        padding 0 10px
    
@media (max-width: 700px)
    table 
        border 0
        
        > thead
            display none
        
        tr
            margin-bottom 10px
            display block
        
        td
            display block
            text-align right
        
        td:last-child
            border-bottom 0
        
        td:before 
            content attr(data-label)
            float left 
            font-weight bold
            
        > thead > tr > th, 
        > tbody > tr > th, 
        > tfoot > tr > th, 
        > thead > tr > td, 
        > tbody > tr > td, 
        > tfoot > tr > td, 
        > tbody td
            border none
            
    .download-table > tbody td
        border none
        
    td.download-table-last
        text-align center