.download-header

    h1
        width 40%
        float left

    ul
        margin-top 2rem
        width 40%
        float right
        text-align right

.download-header::after
    display block
    clear both
    content ""

.download-hero
    margin-bottom 1em

    ul
        width 100%
        display flex
        list-style none
        text-align center

    li
        display flex
        flex-grow 2

    li:first-child
        flex-basis 130px
        flex-grow 1

    a
        display block
        width 100%
        padding-top 1em
        background $light-green

    img
        display block
        margin 0 auto

    p
        padding-bottom 1em
        margin 1em 0 0


    a:hover, a:active
        background $gray
        color $light-green

.download-version-toggle
    display flex
    flex-wrap wrap
    width calc(100% - 4px)
    border 2px solid $node-green
    background $light-green

    a
        margin 2px
        padding 5px 2px

    a:hover, a:active, a.is-version
        color $light-green
        background $gray

    a.is-version
        color $light-green
        background $node-green

    .title
        font-size 1.5em
        line-height 1

    .tag
        font-size 0.8em

.download-matrix
    margin-bottom 1.5rem

    th
        text-align left
        width 33%

    td
        border 1px solid $light-gray2

        a,
        span
            background none
            display block
            height 100%
            width 100%
            text-align center

        a:hover, a:active
            background $gray
            color $light-green

h5.download-table-previous-releases-header
    margin-bottom 5px

.download-table
    font-size small
    border 1px solid $light-gray2

    td
        padding 5px

    > thead
        font-weight 600

    > tbody
        td
            border-top 1px solid $light-gray2

        tr:nth-child(odd)
            background-color $light-gray3

        tr:nth-child(even)
            background-color $white

td.download-table-last
    text-align right

    > a
        padding 0 10px

@media (max-width: 700px)
    .download-hero ul
        width auto
        display block
        margin-bottom 1em

        li
            display block
            width 100%

    .download-matrix
        display block

        th
            display block
            width 100%

        tr
            display block
            margin-bottom 1em

        td
            display block
            border 0

            a
                text-align left


    .download-table
        border 0

        > thead
            display none

        tr
            margin-bottom 10px
            display block

        td
            display block
            text-align right

        td:last-child
            border-bottom 0

        td:before
            content attr(data-label)
            float left
            font-weight 600

        > thead > tr > th,
        > tbody > tr > th,
        > tfoot > tr > th,
        > thead > tr > td,
        > tbody > tr > td,
        > tfoot > tr > td,
        > tbody td
            border none

    .download-table > tbody td
        border none

    td.download-table-last
        text-align center
