footer
    margin-top 2em
    background-color $node-gray
    padding: 0 0px

    a,
    a:link,
    a:active
        color #ccc

    a:hover
        background-color transparent
        text-decoration underline


.footer-nav
    display flex
    justify-content space-between
    font-size 16px
    margin: 1em 0

    ul
        list-style-type none
        margin 0
        padding 0

        li:first-child
            font-weight bold
