header
  background-color $node-gray
  text-align center

  > .container
    overflow visible

  li
    position relative

  nav
    cursor default

  nav
    a,
    a:link,
    a:active
      padding 0 8px
      text-transform uppercase
      font-size 14px
      color $light-gray2 !important

    a:hover
      background-color transparent
      text-decoration underline

// Special format for external 'Foundation' link in main navigation
.nav-foundation
  background-color #026e00

  &:before
    content none !important

  a
    padding 0 16px !important

@media screen and (min-width: 481px)
  header
    li
      $border-width = 14px
      padding-bottom 12px;

      &.active:after
        top 100%
        left 50%
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
        border-top-color $node-gray
        border-width $border-width
        margin-left -($border-width/2)px

      &.active:first-child:after
        margin-left -($border-width)px

    a,
    a:link,
    a:active
      padding 0 8px

  .nav-foundation
    margin-left 8px

@media screen and (max-width: 480px)
  header
    li
      width 50%
      float left
      padding 0
      margin 0
    nav
      margin 0 20px
    a,
    a:link,
    a:active
      padding 0

#logo
  display block
  border none

  &:hover
    background-color transparent
    text-decoration underline

  img
    display block
    margin .5em auto 0 auto
    border none
    max-height 75px
    max-width 180px
