ul#header
  background-color $darkbg
  list-style none
  margin 20px 0 0 0
  padding 0
  border 0
  display flex
  flex-flow row wrap
  justify-content space-between
  align-items center

  li
    display inline-block
    padding 10px

    &#nav
      margin-right 30px

      > div
        display inline-block
        margin-left 10px

        > a
          color $light-gray3
          transition .5s color, .5s background-color
          padding 7px

          &:hover
            color $darkbg
            background-color $light-gray3

        &.active > a
          color $darkbg
          background-color $light-gray3

    &#logo
      margin-left 30px

      > a > img
        width 50px
        height 50px

/*
@media screen and (min-width: 481px)
  header
    li
      $border-width = 14px
      padding-bottom 12px;

      &.active:after
        top 100%
        left 50%
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
        border-top-color $node-gray
        border-width $border-width
        margin-left -($border-width/2)px

      &.active:first-child:after
        margin-left -($border-width)px

    a,
    a:link,
    a:active
      padding 0 8px

@media screen and (max-width: 480px)
  header
    li
      width 50%
      float left
      padding 0
      margin 0
    a,
    a:link,
    a:active
      padding 0

#logo
  display block
  border none

  &:hover
    background-color transparent
    text-decoration underline

  img
    display block
    margin .5em auto 0 auto
    border none
    max-height 75px
    max-width 180px
