#interactive-wrapper
  flex none
  background-image url("/static/images/interactive/background.jpg")

#interactive
  display flex
  align-items center
  justify-content space-around
  max-width 980px
  margin 0 auto

#interactive
  > *
    border 20px solid transparent
    min-width 1px

#interactive img
  max-height 110px

@media (max-width: 480px)
  #interactive
    flex-wrap wrap
