#interactive-wrapper
  flex none

#interactive
  background-image url("/static/images/interactive/background.jpg")
  display flex
  align-items center
  justify-content space-around

#interactive
  > *
    border 20px solid transparent
    min-width 1px

@media (max-width: 480px)
  #interactive
    flex-wrap wrap
