.interactive-banner
    background #333 url("/static/images/nodejs-interactive-portland2015.jpg") 50% 0px no-repeat
    background-size cover
    height 300px
    text-align center
    width 100%
    line-height 300px
    margin-top 20px

.interactive-banner img
    display block
    margin-left auto
    margin-right auto
    padding-top 80px
    height 140px
    -webkit-filter drop-shadow(5px 5px 5px $node-gray)
    filter drop-shadow(5px 5px 5px $node-gray)

@media screen and (max-width 550px)
    .interactive-banner img
        padding-top 100px
        height auto
        width 300px
