.releaseTable
  text-align left

.releaseTable-release
  margin-bottom 1.5rem

.releaseTable td
  padding 0.5em
  text-align left

.releaseTable-versionRow
  display flex
  align-items baseline
  border-bottom 2px solid #cecece

  .releaseTable-version
    margin 0
    padding 0
    font-size 1.3rem
    font-weight bold
    padding-right 2rem

  time
    font-size 0.8rem

.releaseTable-details
  display flex
  align-items baseline
  justify-content space-between
  padding 10px 0 0 0
  flex-wrap wrap
  font-size 0.9rem

  > *
    padding 0 10px 10px 10px

  > :first-child
    padding-left 0

  > :last-child
    padding-left 0
    padding-right 0

.releaseTable-spacer
  flex 1

.releaseTable-links
  display flex
  align-items baseline
  justify-content space-between
  flex-wrap wrap

  a
    font-size 0.8rem
    font-weight bold

  a:hover
    background #F7DF31
    text-decoration none
    color #292829
    border-radius 3px

  > *
    padding 0 10px

  > :first-child
    margin-left -10px

  > :last-child
    margin-right -10px
