// For smooth scroll behavior
html
    scroll-behavior smooth

#scrollToTop
    font inherit
    font-size 1rem
    color $node-gray
    background-color #eee
    border 1px solid #ddd
    border-radius 2px
    cursor pointer
    position fixed
    bottom 10%
    right 0
    :hover::after
        content "Scroll To Top"
