// For smooth scroll behavior
html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

#scroll-to-top {
  font-size: 1rem;
  color: $white;
  background-color: $node-green;
  border: 1px solid $node-green;
  border-radius: 4px;
  position: fixed;
  bottom: 10%;
  right: 0;
  min-width: 20px;
  text-align: center;
  padding: 0 5px 1px;
  margin-right: 15px;

  // Prevent button from flashing on page load
  opacity: 0;
  animation: button-fade .5s 1s 1 forwards;

  span {
    display:flex;
    flex-direction: row;
    padding:5px;

    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  @keyframes button-fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    span {
      display: none;
    }
  }
}
