.wrapper {
  @apply flex
    w-full
    flex-col
    items-start
    gap-8
    overflow-auto
    overflow-x-hidden
    border-r-neutral-200
    bg-white
    px-4
    py-6
    sm:border-r
    md:max-w-xs
    lg:px-6
    dark:border-r-neutral-900
    dark:bg-neutral-950;

  > section {
    @apply hidden
      sm:flex;
  }

  > span {
    @apply flex
      w-full
      sm:hidden;
  }
}
