@reference "../../../../styles/index.css";

.chatUserPrompt {
  @apply pb-3
    pt-2;

  p {
    @apply max-w-2xl
      rounded-xl
      text-sm
      text-neutral-900
      dark:text-neutral-200;
  }
}

.chatAssistantMessageWrapper {
  @apply my-2
    rounded-xl
    bg-neutral-100
    px-4
    py-4
    text-neutral-900
    empty:hidden
    dark:bg-neutral-950
    dark:text-neutral-200;
}

.typingIndicator {
  @apply flex
    items-center
    gap-1;
}

.typingDot {
  @apply h-1
    w-1
    animate-bounce
    rounded-full
    bg-neutral-500
    dark:bg-neutral-400;
}
