@reference "../../../../styles/index.css";

.chatInteractionsContainer {
  @apply relative
    mb-6
    flex
    h-full
    flex-1
    flex-col
    items-start
    overflow-y-auto
    px-1;

  &::-webkit-scrollbar {
    width: 0.3em;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b2b2b285;
    border-radius: 6px;
  }
}

.chatInteractionsWrapper {
  @apply flex
    w-full
    flex-wrap
    gap-6;

  > div {
    @apply w-full;
  }
}

.scrollDownButton {
  @apply scrollbar-thin
    absolute
    bottom-36
    left-1/2
    inline-flex
    -translate-x-1/2
    items-center
    justify-center
    rounded-xl
    bg-neutral-200
    p-2
    text-neutral-900
    transition-colors
    duration-300
    focus:outline-none
    lg:bottom-28
    dark:bg-neutral-900
    dark:text-neutral-200;

  svg {
    @apply h-4
      w-4;
  }
}
