@reference "../../../../styles/index.css";

.chatInteractionsContainer {
  @apply relative
    mb-6
    flex
    h-full
    flex-1
    flex-col
    items-start
    overflow-y-auto
    px-1;
}

.chatInteractionsWrapper {
  @apply flex
    w-full
    flex-wrap
    gap-6;

  > div {
    @apply w-full;
  }
}

.scrollDownButton {
  @apply scrollbar-thin
    absolute
    bottom-36
    left-1/2
    inline-flex
    -translate-x-1/2
    items-center
    justify-center
    rounded-xl
    bg-neutral-200
    p-2
    text-neutral-900
    transition-colors
    duration-300
    focus:outline-none
    lg:bottom-28
    dark:bg-neutral-900
    dark:text-neutral-200;

  svg {
    @apply h-4
      w-4;
  }
}

.chatInteractionsContainer::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.chatInteractionsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.chatInteractionsContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-800);
  border-radius: 6px;
}

.chatInteractionsContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-700);
}
