@reference "../../../../styles/index.css";

.chatButtonWrapper {
  @apply block
    border-b
    border-neutral-200
    p-2
    dark:border-neutral-900;

  svg {
    @apply size-4;
  }
}

.chatButton {
  @apply flex
    w-full
    cursor-pointer
    items-center
    gap-2
    rounded-lg
    border
    border-transparent
    bg-transparent
    p-3
    text-sm
    duration-300
    hover:bg-neutral-300
    focus-visible:border-green-600
    focus-visible:outline-none
    motion-safe:transition-colors
    dark:hover:bg-neutral-900
    dark:focus-visible:border-green-400;
}

.chatButtonWithSearch {
  @apply bg-neutral-300
    dark:bg-neutral-900;
}
