.wrapper {
  @apply w-full
    border-r-0
    bg-white
    dark:bg-neutral-950
    md:max-w-xs
    md:border-r
    md:border-r-neutral-200
    md:dark:border-r-neutral-900;

  > aside {
    @apply sticky
      top-0
      -mt-16
      pt-16;

    > nav {
      @apply flex
        max-h-[calc(100svh-4rem)]
        flex-col
        items-center
        gap-8
        overflow-y-auto
        px-4
        py-6
        md:items-start
        lg:px-6;

      > span {
        @apply flex
          w-full
          max-w-2xl
          md:hidden;
      }

      > section {
        @apply hidden
            md:flex;
      }
    }
  }
}
