<div class="contributor-card">
  <a href="#" rel="nofollow noopener noreferrer">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <img id="contributor-avatar" class="hidden" src="/static/images/logos/js-green.svg" alt="Avatar of a Node.js contributor" width="40" height="40">
  </a>

  <p>
    Thank you <a href="#" id="contributor-username" rel="nofollow noopener noreferrer">username</a> for being a <a href="https://github.com/nodejs/node/graphs/contributors" rel="nofollow noopener noreferrer" title="List of all Node.js contributors">Node.js contributor</a>
    <a href="https://github.com/nodejs/node/graphs/contributors" rel="nofollow noopener noreferrer">
      <strong id="contributor-contributions">0 contributions</strong>
    </a>
  </p>
</div>
