<a href="#" id="scroll-to-top">&uarr; <span>{{site.scrollToTop}}</span></a>

<footer {{#if className}} class="{{className}}" {{/if}}>

  <div class="container">
    <div class="openjsfoundation-footer">
      <p>Copyright <a href="https://openjsf.org">OpenJS Foundation</a> and Node.js contributors. All rights reserved. The <a href="https://openjsf.org">OpenJS Foundation</a> has registered trademarks and uses trademarks.  For a list of trademarks of the <a href="https://openjsf.org">OpenJS Foundation</a>, please see our <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> and <a href="https://trademark-list.openjsf.org">Trademark List</a>.  Trademarks and logos not indicated on the <a href="https://trademark-list.openjsf.org">list of OpenJS Foundation trademarks</a> are trademarks&trade; or registered&reg; trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
      <p class="openjsfoundation-footer-links">
        <a href="https://openjsf.org">The OpenJS Foundation</a> |
        <a href="https://terms-of-use.openjsf.org">Terms of Use</a> |
        <a href="https://privacy-policy.openjsf.org">Privacy Policy</a> |
        <a href="https://bylaws.openjsf.org">Bylaws</a> |
        <a href="https://code-of-conduct.openjsf.org">Code of Conduct</a> |
        <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> |
        <a href="https://trademark-list.openjsf.org">Trademark List</a> |
        <a href="https://www.linuxfoundation.org/cookies">Cookie Policy</a>
      </p>
      <div class="openjsfoundation-footer-edit"></div>
    </div>
  </div>

</footer>

<script src="/static/js/main.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js" integrity="sha512-BNc7saQYlxCL10lykUYhFBcnzdKMnjx5fp5s5wPucDyZ7rKNwCoqJh1GwEAIhuePEK4WM9askJBRsu7ma0Rzvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.highlightAll();</script>
