<footer role="contentinfo">
    <div class="container">
        <div class="footer-nav">
            <ul>
                <li><a href="/download/">Downloads</a></li>
            </ul>
            <ul>
                <li><a href="/documentation/">Documentation</a></li>
                <li><a href="/api/">API Docs</a></li>
                <li><a href="/documentation/tutorials/">Tutorials</a></li>
                <li><a href="/documentation/localization/">Localization</a></li>
            </ul>
            <ul>
                <li><a href="/contribute/">Contribute</a></li>
                <li><a href="/contribute/code_contributions/">Code contributions</a></li>
                <li><a href="/contribute/accepting_contributions.html">Accepting contributions</a></li>
                <li><a href="/contribute/becoming_collaborator.html">Becoming a collaborator</a></li>
            </ul>
            <ul>
                <li><a href="/foundation/">Foundation</a></li>
                <li><a href="/foundation/members.html">Members</a></li>
                <li><a href="/foundation/blog.html">Blog</a></li>
            </ul>
            <ul>
                <li><a href="/community/">Community</a></li>
                <li><a href="https://github.com/joyent/node/issues">Github Issues</a></li>
                <li><a href="http://groups.google.com/group/nodejs">Mailing List</a></li>
                <li><a href="http://webchat.freenode.net/?channels=node.js">IRC</a></li>
                <li><a href="https://twitter.com/nodejs">Twitter</a></li>
            </ul>
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/about/organization/">Organization</a></li>
                <li><a href="/about/releases/">Releases</a></li>
                <li><a href="/about/resources/">Resources</a></li>
            </ul>
            <ul>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="linuxfoundation-header">
        <div class="container">
            <a class="linuxfoundation-logo" href="http://collabprojects.linuxfoundation.org">Linux Foundation Collaborative Projects</a>
        </div>
    </div>

    <div class="linuxfoundation-footer">
        <div class="container">
            <p>© 2015 Node.js Foundation. All Rights Reserved. Portions of this site originally © 2015 Joyent. </p>
            <p>Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the Trademark Guidelines of the Node.js Foundation <a href="/images/foundation-trademark-policy.pdf">here</a>. <a href="https://raw.github.com/joyent/node/master/LICENSE">View license</a>.</p>
            <p>Linux Foundation is a registered trademark of The Linux Foundation.</p>
            <p>Linux is a registered <a href="http://www.linuxfoundation.org/programs/legal/trademark" title="Linux Mark Institute">trademark</a> of Linus Torvalds.</p>
        </div>
    </div>
</footer>
