<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header active="blog" }}

    <main>
        <div class="container">

            <ul>
                {{#each collections.blog}}
                    {{#if title}}
                        <li>
                            <a href="/{{../../site.locale}}/{{ path }}/">{{ title }}</a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>

        </div>
    </main>

    {{> footer }}
</body>
</html>
