<!DOCTYPE html>
<html lang="{{site.locale}}"{{#if site.rtl}} dir="rtl"{{/if}}>
{{> html-head }}

<body>
  {{> header }}

  <div id="main">
    <div class="container">
      <article>
        <div class="download-header">
          <h1>{{downloads.headline}}</h1>
        </div>

        {{> primary-download-matrix version=project.latestVersions.lts versionTypeLts="true"}}
        {{> secondary-download-matrix version=project.latestVersions.lts versionTypeLts="true"}}

      </article>

    </div>
  </div>

  {{> footer }}
</body>
</html>
