<!DOCTYPE html>
<html lang="{{site.locale}}"{{#if site.rtl}} dir="rtl"{{/if}}>
{{> html-head }}

<body>
  {{> header }}

  <div id="main">
    <div class="container">
      {{{ contents }}}
    </div>
  </div>

  {{> footer }}
</body>
</html>
