<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <main>
        <div class="container">

            <article>
                {{{ contents }}}
            </article>

        </div>
    </main>

    {{> footer }}
</body>
</html>
