.banner {
  align-items: center;
  background: var(--color-fill-top-nav);
  box-sizing: border-box;
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
  max-width: 100vw;
  position: relative;
  &,
  p {
    font-size: var(--font-size-body1);
    font-weight: var(--font-weight-bold);
  }

  .bannerContent {
    background: var(--color-fill-canvas);
    border-radius: 0;
    color: var(--color-text-primary);
    display: flex;
    font-size: var(--font-size-body2);
    font-weight: var(--font-weight-regular);
    justify-content: center;
    line-height: var(--line-height-subheading);
    margin: -1rem;
    padding: var(--space-13);
    width: 100%;
  }

  a {
    align-items: center;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    img {
      border-radius: 5px;
      max-width: 100%;
      object-fit: cover;
    }

    &.bannerBtn {
      border: 1.5px solid var(--color-brand-primary);
      border-radius: var(--border-radius-3);
      color: var(--color-brand-primary);
      flex-shrink: 0;
      font-size: var(--font-size-body2);
      font-style: normal;
      font-weight: var(--font-weight-semibold);
      margin-right: var(--space-12);
      padding: 0 var(--space-32);
      position: relative;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: var(--color-brand-primary);
        color: var(--color-text-primary);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  p {
    align-items: center;
    background-color: var(--color-fill-banner);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: var(--space-12);
    text-align: center;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
