@reference "../../../styles/index.css";

.searchboxContainer {
  @apply grow;

  * {
    @apply antialiased;
  }
}

.searchButton {
  @apply flex
    w-full
    grow
    cursor-pointer
    items-center
    justify-between
    gap-1
    rounded-xl
    border
    border-neutral-300
    bg-white
    p-1.5
    text-neutral-900
    duration-300
    hover:bg-neutral-100
    motion-safe:transition-colors
    dark:border-neutral-900
    dark:bg-neutral-950
    dark:text-neutral-200
    hover:dark:bg-neutral-900;
}

.searchButtonContent {
  @apply relative
    flex
    flex-nowrap
    items-center
    gap-1
    text-sm;

  svg {
    @apply size-4;
  }
}

.searchButtonShortcut {
  @apply inline
    rounded-md
    bg-neutral-300
    px-2
    py-1
    text-sm
    text-neutral-800
    dark:bg-neutral-900
    dark:text-neutral-400;
}

.modalWrapper {
  @apply fixed
    top-0
    left-0
    z-50
    mx-auto
    my-0
    flex
    size-full
    items-start
    justify-center
    bg-white/70
    pt-[5vh]
    dark:bg-zinc-950/70;
}

.modalInner {
  @apply fixed
    top-auto
    bottom-auto
    mx-auto
    my-0
    flex
    h-auto
    w-full
    max-w-3xl
    bg-neutral-100
    dark:bg-neutral-950;

  > section {
    @apply w-full;
  }
}

.modalContent {
  @apply flex
    h-auto
    max-h-[70vh]
    flex-col
    rounded-xl
    border
    border-neutral-200
    dark:border-neutral-900;
}
