@reference "../../../styles/index.css";

.searchboxContainer {
  @apply grow;

  * {
    @apply antialiased;
  }
}

.searchButton {
  @apply flex
    min-h-10
    w-full
    grow
    cursor-pointer
    items-center
    justify-between
    gap-1
    rounded-xl
    border
    border-neutral-300
    bg-white
    p-1.5
    text-neutral-900
    hover:bg-neutral-100
    motion-safe:transition-colors
    dark:border-neutral-900
    dark:bg-neutral-950
    dark:text-neutral-200;

  &:hover {
    @apply bg-neutral-100
      motion-safe:transition-colors
      motion-safe:duration-300
      dark:bg-neutral-900;

    .searchButtonShortcut {
      @apply bg-neutral-200
        dark:bg-neutral-800;
    }
  }
}

.searchButtonContent {
  @apply relative
    flex
    flex-nowrap
    items-center
    gap-2
    pl-1
    text-sm;

  svg {
    @apply size-4;
  }
}

.searchButtonShortcut {
  @apply hidden
    rounded-md
    bg-neutral-300
    px-2
    py-1
    text-sm
    text-neutral-800
    md:inline
    dark:bg-neutral-900
    dark:text-neutral-400;
}

.modalWrapper {
  @apply fixed
    top-0
    left-0
    z-50
    mx-auto
    my-0
    flex
    size-full
    items-start
    justify-center
    bg-white/70
    lg:pt-[5vh]
    dark:bg-zinc-950/70;
}

.modalInner {
  @apply fixed
    top-0
    bottom-0
    mx-auto
    my-0
    flex
    h-full
    max-w-none
    bg-white
    lg:top-auto
    lg:bottom-auto
    lg:h-auto
    lg:max-w-3xl
    lg:bg-neutral-100
    dark:bg-zinc-950
    lg:dark:bg-neutral-950;
}

.modalContent {
  @apply flex
    h-full
    w-screen
    flex-col
    border-neutral-200
    lg:h-auto
    lg:max-h-[70vh]
    lg:w-auto
    lg:rounded-xl
    lg:border
    dark:border-neutral-900;
}

.modalCloseButton {
  @apply absolute
    top-2
    right-4
    z-10
    cursor-pointer
    bg-white
    px-2
    text-2xl
    text-neutral-950
    md:hidden
    dark:bg-black
    dark:text-neutral-200;
}
