.dropdownList {
  background-color: var(--color-dropdown-background);
  border-radius: 5px;
  height: fit-content;
  list-style-type: none;
  max-height: 200px;
  min-width: 150px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  width: fit-content;

  > li {
    > button {
      background: none;
      border: none;
      color: var(--color-text-primary);
      cursor: pointer;
      font-size: var(--font-size-body1);
      padding: var(--space-12);
      text-align: center;
      width: 100%;

      &:hover {
        background-color: var(--color-dropdown-hover);
      }
    }
  }

  &::-webkit-scrollbar {
    width: var(--space-06);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-text-secondary);
    border: transparent;
    border-radius: 20px;
  }
}
