.wrapper {
  @apply flex
    flex-col
    items-start
    gap-8
    overflow-y-auto
    border-l
    border-l-neutral-200
    px-4
    py-6
    dark:border-l-neutral-900
    md:max-w-xs
    lg:px-6
    xs:mt-8
    xs:w-full
    xs:border-l-0
    xs:border-t
    xs:border-t-neutral-200
    xs:dark:border-t-neutral-900;

  dt {
    @apply mb-2
      text-sm
      font-medium
      text-neutral-800
      dark:text-neutral-200;
  }

  dd {
    @apply mb-8
      flex
      items-center
      gap-2
      text-sm
      text-neutral-900
      dark:text-white;

    a {
      @apply font-semibold
        text-neutral-900
        underline
        dark:text-white
        xs:inline-block
        xs:py-1;

      &:hover {
        @apply text-neutral-800
          dark:text-neutral-200;
      }
    }

    ol {
      @apply flex
        list-none
        flex-col
        gap-1.5
        p-0;
    }

    svg {
      @apply size-4
        text-neutral-600
        dark:text-neutral-400;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  [data-on-dark] {
    @apply hidden
      dark:block;
  }

  [data-on-light] {
    @apply block
      dark:hidden;
  }
}
