.root {
  > [role='tabpanel'] > :first-child {
    @apply rounded-t-none;
  }

  > div:nth-of-type(1) {
    @apply flex
      rounded-t
      border-x
      border-t
      border-neutral-900
      bg-neutral-950
      px-4
      pt-3
      xs:px-2;

    > button {
      @apply border-b
        border-b-transparent
        px-1
        text-neutral-200;

      &[data-state='active'] {
        @apply border-b-green-400
          text-green-400;
      }
    }

    .link {
      @apply hidden
        items-center
        gap-2
        text-center
        text-neutral-200
        lg:flex;

      & > .icon {
        @apply size-4
          text-neutral-300;
      }

      &:is(:link, :visited) {
        &:hover {
          @apply text-neutral-400;

          & > .icon {
            @apply text-neutral-600;
          }
        }
      }
    }
  }
}
