.sideBarItem {
  @apply flex
    w-full
    list-none
    text-neutral-800
    dark:text-neutral-200;

  a {
    @apply inline-flex
      items-center
      gap-2
      p-2;
  }

  .label {
    @apply font-regular
      w-full
      text-sm;
  }

  .icon {
    @apply size-3
      text-neutral-500
      dark:text-neutral-200;
  }
}

.active {
  @apply rounded
    bg-green-600
    text-white
    dark:text-white;
}
