@reference "../../styles/index.css";

.skipToContent {
  @apply sr-only
    focus:not-sr-only
    focus:absolute
    focus:top-4
    focus:left-4
    focus:z-50
    focus:rounded
    focus:bg-green-600
    focus:px-4
    focus:py-2
    focus:text-white
    focus:ring-2
    focus:ring-green-500
    focus:outline-none
    dark:focus:ring-green-400;
}
