@reference "../../../styles/index.css";

.root {
  @apply border-b
    border-neutral-200
    px-0
    pb-4
    text-neutral-900
    dark:border-neutral-800
    dark:text-white;

  summary {
    @apply cursor-default
      select-none
      list-none
      after:float-right
      after:pr-4
      after:text-2xl
      after:text-neutral-400
      after:content-['›']
      dark:after:text-neutral-600;

    h3 {
      @apply inline;
    }
  }

  &[open] summary {
    @apply pb-4
      after:rotate-90
      after:transform
      after:pt-4;
  }

  .detail {
    @apply flex
      select-none
      flex-col
      gap-4;
  }
}
