.wrapper {
  @apply flex
    flex-col
    items-start
    gap-8
    border-l
    border-l-neutral-200
    px-4
    py-6
    md:max-w-xs
    lg:px-6
    xs:mt-8
    xs:w-full
    xs:border-l-0
    xs:border-t
    xs:border-t-neutral-200
    dark:border-l-neutral-900
    xs:dark:border-t-neutral-900;

  dt {
    @apply mb-2
      text-sm
      font-medium
      text-neutral-800
      dark:text-neutral-200;
  }

  dd {
    @apply mb-8
      flex
      items-center
      gap-2
      text-sm
      text-neutral-900
      dark:text-white;

    a {
      @apply font-semibold
        text-neutral-900
        underline
        hover:text-neutral-800
        dark:text-white
        dark:hover:text-neutral-200;
    }

    ol {
      @apply flex
        list-none
        flex-col
        gap-1.5
        p-0;
    }

    svg {
      @apply h-4
        w-4
        text-neutral-600
        dark:text-neutral-400;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  [data-on-dark] {
    @apply hidden
      dark:block;
  }

  [data-on-light] {
    @apply block
      dark:hidden;
  }
}
