.wrapper {
  @apply flex
    w-80
    flex-col
    items-start
    gap-8
    border-l
    border-neutral-200
    p-6
    dark:border-neutral-900;

  dt {
    @apply mb-2
      text-sm
      font-medium
      text-neutral-800
      dark:text-neutral-200;
  }

  dd {
    @apply mb-8
      flex
      items-center
      gap-2
      text-sm
      text-neutral-900
      dark:text-white;

    a {
      @apply font-semibold
        !text-neutral-900
        underline
        dark:!text-white;
    }

    ol {
      @apply flex
        list-none
        flex-col
        gap-1.5
        p-0;
    }

    svg {
      @apply h-4
        w-4
        text-neutral-600
        dark:text-neutral-400;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  [data-on-dark] {
    @apply hidden
      dark:block;
  }

  [data-on-light] {
    @apply block
      dark:hidden;
  }
}
