.tableOfContents {
  background-color: var(--color-fill-banner);
  border-radius: 5px;
  cursor: pointer;
  padding: var(--space-12);

  strong {
    color: var(--color-text-secondary);
    display: inline-block;
    font-size: var(--font-size-body2);
    margin: 0;
    text-transform: uppercase;
  }


  ul {
    margin: var(--space-04) 0 0 var(--space-08);
    padding: var(--space-08) 0 0 var(--space-24);

    li {

      // not use for now
      //&.depth1 {
      //
      //}
      &.depth2 {
        list-style-type: square;
        margin-left: var(--space-08);
      }
      &.depth3 {
        margin-left: var(--space-16);
      }
      &.depth4 {
        list-style-type: square;
        margin-left: var(--space-24);
      }
      &.depth5 {
        margin-left: var(--space-32);
      }
      &.depth6 {
        list-style-type: square;
        margin-left: var(--space-40);
      }

      p {
        margin: 0;
      }

      a {
        font-family: var(--sans-serif);
        text-decoration: underline;
        text-decoration: none;
        text-decoration-color: var(--black4);
        transition: all ease-out 0.2s;

        &:hover {
          color: var(--brand-light);
          text-decoration: none;
        }
      }
    }
  }
}
