@reference '../../../styles/index.css';

.item {
  @apply flex
    w-full
    list-none
    text-neutral-800
    dark:text-neutral-200;

  a {
    @apply inline-flex
      items-center
      gap-2
      p-2;
  }

  .label {
    @apply font-regular
      w-full
      text-sm;
  }

  svg {
    @apply shrink-0
      fill-neutral-200
      stroke-white
      stroke-[4]
      dark:fill-neutral-800
      dark:stroke-neutral-950;
  }

  .icon {
    @apply size-3
      text-neutral-500
      dark:text-neutral-200;
  }

  .active {
    @apply text-neutral-900
      dark:text-white;

    svg {
      @apply fill-green-500;
    }
  }

  &:not(.progression) > .active {
    @apply rounded-sm
      bg-green-600
      text-white;
  }
}
