<!DOCTYPE html>
<html lang="{{site.locale}}"{{#if site.rtl}} dir="rtl"{{/if}}>
{{> blm-html-head }}
<body>
  <main>
    {{> blm-header }}
    {{{ contents }}}
  </main>
  {{> blm-footer }}
</body>
</html>
