html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;

  @media (max-width: 900px) {
    font-size: 0.5625rem;
  }
}

body {
  background: var(--color-fill-app);
  color: var(--color-text-primary);
  font-size: var(--font-size-body1);
  height: 100%;
  margin: 0 0;
  overflow-x: hidden;

  /* Set in JavaScript */
  --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 72px), 0 100%);
  --banner-gradient: linear-gradient(to right, var(--accent9), var(--info7));
  --nav-height: 73px;
  --hero-height: 36rem;
  --brand-light: var(--brand3);
  --brand: var(--brand5);
  --brand-dark: var(--brand7);

  @media (max-width: 1262px) and (min-width: 900px) {
    --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 52px), 0 100%);
  }

  @media (max-width: 900px) {
    --nav-height: 42px;
    --banner-clip: polygon(
      0 0,
      100% 0,
      100% calc(100% - 52px),
      0 calc(100% - 32px)
    );
  }
}

[data-theme='light'] .dark-mode-only,
[data-theme='dark'] .light-mode-only {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
