* {
  @apply subpixel-antialiased;
}

html,
body {
  @apply size-full
    [scrollbar-gutter:auto];
}

body {
  @apply scroll-smooth
    bg-white
    font-open-sans
    text-neutral-950
    dark:bg-neutral-950
    dark:text-white;
}
