h1.special {
  @apply bg-gradient-subtle-gray
    bg-clip-text
    text-4xl
    leading-[3rem]
    -tracking-[0.045rem]
    [-webkit-text-fill-color:transparent]
    dark:bg-gradient-subtle-white
    md:text-5xl
    md:leading-[4rem]
    md:-tracking-[0.06rem];
}

div.glowingBackdrop {
  @apply absolute
    left-0
    top-0
    -z-10
    size-full
    bg-[url('/static/images/patterns/hexagon-grid.svg')]
    bg-center
    bg-no-repeat
    opacity-50
    md:opacity-100;

  &::after {
    @apply absolute
      inset-0
      m-auto
      aspect-square
      w-[300px]
      rounded-full
      bg-green-300
      blur-[120px]
      content-['']
      dark:bg-green-700;
  }
}

.turtle {
  animation: surf 1s infinite ease-in-out;
  margin: 0 0 -400px -300px;
  position: absolute;
  transform: translate(0, 0);
  z-index: 1;
}

.turtle img {
  height: auto;
  width: 300px;
}

.turtle::after {
  background: url('/static/images/smoke.gif');
  content: '';
  display: block;
  height: 150px;
  left: 0;
  opacity: 0.15;
  position: absolute;
  top: 0;
  touch-action: none;
  transform: rotate(-90deg) translate(-140%, -60%);
  user-select: none;
  user-select: none;
  user-select: none;
  width: 150px;
  z-index: -1;
}

@media (max-width: 1500px) {
  .turtle {
    margin: 0 0 -300px -100px;
  }

  .turtle img {
    width: 200px;
  }

  .turtle::after {
    transform: rotate(-90deg) translate(-80%, -60%);
  }
}

@media (max-width: 750px) {
  .turtle {
    margin: 0;
    right: 0;
    top: 40px;
  }

  .turtle img {
    width: 150px;
  }

  .turtle::after {
    transform: rotate(-90deg) translate(-50%, -60%);
  }
}

@keyframes surf {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 6px);
  }

  50% {
    transform: translate(0, -6px);
  }

  75% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, 0);
  }
}
