@reference "../../../../styles/index.css";

.hit {
  > a {
    @apply flex
      items-center
      gap-4
      rounded-lg
      border
      border-transparent
      px-2
      py-3
      text-sm
      duration-300
      outline-none
      hover:bg-neutral-300
      focus-visible:border-green-600
      focus-visible:bg-transparent
      motion-safe:transition-colors
      dark:bg-neutral-950
      dark:hover:bg-neutral-900;
  }

  svg {
    @apply size-5
      shrink-0;
  }
}

.link {
  @apply rounded-xl
    bg-neutral-100
    px-4
    py-2
    text-neutral-900
    duration-300
    hover:bg-neutral-200
    focus:bg-neutral-200
    motion-safe:transition-colors
    dark:bg-neutral-950
    dark:text-neutral-200
    hover:dark:bg-neutral-900
    focus:dark:bg-neutral-900;

  svg {
    @apply size-5;
  }
}

.hitDescription {
  @apply text-sm
    text-neutral-600
    dark:text-neutral-700;
}
