.group,
ul {
  @apply flex
    list-none
    flex-col
    p-0;
}

.group {
  & > li {
    @apply flex
      flex-col
      gap-4
      text-sm
      font-medium
      text-neutral-800
      dark:text-neutral-200;
  }

  .items {
    @apply relative
      -left-1
      gap-2;

    &::after {
      @apply absolute
        left-[calc(0.5rem-0.5px)]
        top-0
        z-10
        h-full
        w-px
        bg-neutral-200
        content-['']
        dark:bg-neutral-800;
    }

    li {
      &:first-child::before {
        @apply absolute
          bottom-[calc(50%+0.25rem)]
          left-0
          h-20
          w-4
          bg-white
          content-['']
          dark:bg-neutral-950;
      }

      &:last-child::after {
        @apply absolute
          left-0
          top-[calc(50%+0.25rem)]
          h-20
          w-4
          bg-white
          content-['']
          dark:bg-neutral-950;
      }
    }
  }
}
