.group,
ul {
  @apply flex
    list-none
    flex-col
    p-0;
}

.group {
  & > li {
    @apply flex
      flex-col
      gap-4
      text-sm
      font-medium
      text-neutral-800
      dark:text-neutral-200;
  }

  .items {
    @apply relative
      -left-1
      gap-2
      shadow-[inset_7px_0_0_theme(colors.white),_inset_8px_0_0_0_theme(colors.neutral[200])]
      dark:shadow-[inset_7px_0_0_theme(colors.neutral[950]),_inset_8px_0_0_0_theme(colors.neutral[800])];
  }

  .items li {
    &:first-child {
      @apply before:absolute
        before:bottom-[calc(50%+0.25rem)]
        before:left-0
        before:h-20
        before:w-4
        before:bg-white
        dark:before:bg-neutral-950;
    }

    &:last-child {
      @apply after:absolute
        after:left-0
        after:top-[calc(50%+0.25rem)]
        after:h-20
        after:w-4
        after:bg-white
        dark:after:bg-neutral-950;
    }
  }
}
