# Security Notes
# Only selected Actions are allowed within this repository. Please refer to (https://github.com/nodejs/nodejs.org/settings/actions)
# for the full list of available actions. If you want to add a new one, please reach out a maintainer with Admin permissions.
# REVIEWERS, please always double-check security practices before merging a PR that contains Workflow changes!!
# AUTHORS, please only use actions with explicit SHA references, and avoid using `@master` or `@main` references or `@version` tags.

name: Playwright Tests on Cloudflare Open-Next

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read

jobs:
  playwright:
    name: Playwright Tests
    runs-on: ubuntu-latest

    steps:
      - uses: nodejs/web-team/actions/setup-environment@2c2897a93eb99b4cdca270729100bc0887c758d9
        with:
          pnpm: true
          use-version-file: true
          fetch-depth: 2

      - name: Get Playwright version
        id: playwright-version
        working-directory: apps/site
        run: echo "version=$(node_modules/.bin/playwright --version | awk '{print $2}')" >> $GITHUB_OUTPUT

      - name: Cache Playwright browsers
        id: playwright-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}-${{ steps.playwright-version.outputs.version }}

      - name: Install Playwright Browsers
        working-directory: apps/site
        run: node_modules/.bin/playwright install --with-deps

      - name: Run Playwright tests
        working-directory: apps/site
        run: node --run playwright
        env:
          PLAYWRIGHT_RUN_CLOUDFLARE_PREVIEW: true
          PLAYWRIGHT_BASE_URL: http://127.0.0.1:8787

      - name: Upload Playwright test results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: playwright-report
          path: apps/site/playwright-report/
