name: Tests
on: [push, pull_request]
env:
  CI: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12"

      - run: node --version
      - run: npm --version
      - run: java -version

      - name: Install npm dependencies
        run: npm ci

      - name: Build
        run: npm run build:deploy

      - name: Run tests
        run: npm test

      - name: Run HTML validator
        run: npm run test:html

      - name: Run linkinator
        run: npm run test:linkinator
