.searchBoxModalContainer {
  @apply fixed
    inset-0
    z-50
    flex
    items-center
    justify-center
    bg-neutral-900
    bg-opacity-90
    dark:bg-neutral-900
    dark:bg-opacity-90;
}

.searchBoxModalPanel {
  @apply fixed
    h-screen
    w-full
    bg-neutral-100
    dark:bg-neutral-950
    md:top-60
    md:h-[450px]
    md:max-w-3xl
    md:rounded-xl
    md:shadow-lg;
}

.searchBoxInnerPanel {
  @apply pt-12
    text-neutral-800
    dark:text-neutral-400
    md:pt-2;
}

.searchBoxMagnifyingGlassIcon {
  @apply absolute
    top-[10px]
    hidden
    size-6
    md:block;
}

.searchBoxBackIconContainer {
  @apply block
    md:hidden;
}

.searchBoxBackIcon {
  @apply absolute
    top-[7px]
    block
    size-6
    md:hidden;
}

.searchBoxInputContainer {
  @apply relative
  px-2
  md:px-4;
}

.searchBoxInput {
  @apply w-full
    rounded-b-none
    border-b
    border-neutral-300
    bg-transparent
    py-2
    pl-8
    pr-4
    focus:outline-none
    dark:border-neutral-900
    dark:text-neutral-300
    dark:placeholder-neutral-300;
}

.fulltextResultsContainer {
  @apply h-80
    overflow-auto
    md:px-4;
}

.fulltextSearchResult {
  @apply flex
    flex-col
    rounded-md
    p-2
    text-left
    text-sm
    hover:bg-neutral-300
    dark:hover:bg-neutral-900;
}

.fulltextSearchResultTitle {
  @apply text-neutral-800
    dark:text-neutral-300;
}

.fulltextSearchResultBreadcrumb {
  @apply mt-1
    text-xs
    capitalize
    text-neutral-800
    dark:text-neutral-600;
}

.fulltextSearchSections {
  @apply mb-1
    mt-2
    flex
    gap-2
    overflow-x-auto
    p-2
    text-xs
    font-semibold
    text-neutral-700
    dark:text-neutral-600
    md:px-4;
}

.fulltextSearchSection {
  @apply rounded-lg
    border-b
    border-transparent
    px-2
    py-1
    capitalize
    hover:bg-neutral-200
    dark:border-neutral-900
    dark:border-b-transparent
    dark:hover:bg-neutral-900;
}

.fulltextSearchSectionSelected {
  @apply rounded-b-none
    border-neutral-700
    text-neutral-900
    dark:border-neutral-700
    dark:text-neutral-300;
}

.fulltextSearchSectionCount {
  @apply ml-1
    text-neutral-500
    dark:text-neutral-800;
}

.seeAllFulltextSearchResults {
  @apply m-auto
    mb-2
    mt-4
    w-full
    text-center
    text-sm
    text-neutral-700
    hover:underline
    dark:text-neutral-600;
}

.poweredBy {
  @apply flex
    text-xs
    text-neutral-950
    dark:text-neutral-200;
}

.poweredByLogo {
  @apply ml-2
    w-16;
}

.emptyStateContainer {
  @apply flex
    h-[80%]
    w-full
    flex-col
    items-center
    justify-center
    text-center
    text-sm
    text-neutral-600
    dark:text-neutral-500;
}

.noResultsContainer {
  @apply flex
    h-[80%]
    w-full
    items-center
    justify-center
    text-center
    text-sm
    text-neutral-600
    dark:text-neutral-500;
}

.noResultsTerm {
  @apply font-semibold;
}

.searchErrorContainer {
  @apply flex
    h-[80%]
    w-full
    items-center
    justify-center
    text-center
    text-sm
    text-neutral-600
    dark:text-neutral-500;
}

.fulltextSearchFooter {
  @apply flex
    w-full
    justify-end
    rounded-b-xl
    border-t
    border-neutral-300
    bg-neutral-100
    p-4
    dark:border-neutral-900
    dark:bg-neutral-950;
}
