@reference '../../../styles/index.css';

.item {
  @apply font-regular
    relative
    z-20
    flex
    w-full
    items-center
    overflow-hidden
    rounded-md
    text-sm
    text-neutral-800
    dark:text-neutral-200;

  &:hover {
    &:not(.progression) .label {
      /* @see https://github.com/nodejs/nodejs.org/blob/main/packages/ui-components/src/Containers/NavBar/NavItem/index.module.css#L24 */
      @apply rounded-sm
        bg-neutral-100
        text-neutral-900
        dark:bg-neutral-900
        dark:text-neutral-100;
    }

    .icon {
      @apply scale-110
        text-green-600
        dark:text-green-400;
    }

    .progressionIcon {
      @apply fill-green-200
        dark:fill-green-300;
    }
  }

  .label {
    @apply font-regular
      flex
      items-center
      gap-1.5
      p-2
      text-sm;
  }

  .progressionIcon {
    @apply shrink-0
      fill-neutral-200
      stroke-white
      stroke-[4]
      dark:fill-neutral-800
      dark:stroke-neutral-950;
  }

  .icon {
    @apply size-3
      text-neutral-500
      dark:text-neutral-200;
  }

  &.progression {
    .label {
      @apply p-1;
    }

    &:not(.active):hover .label {
      @apply rounded-sm
        bg-neutral-100
        dark:bg-neutral-900;
    }
  }

  &.active {
    @apply text-neutral-900
      dark:text-white;

    .progressionIcon {
      @apply fill-green-500;
    }

    &:not(.progression) .label {
      @apply rounded-sm
        bg-green-600
        text-white;
    }
  }
}
